section{
    position: relative; 
    height: 100%;
    width: 100%;
    #clap{
      position: absolute;
      top: 19%; 
      right: 1%;
      z-index: 1000;
    }
    #content{
      position: relative;
      #content_wrap{
        position: relative;
        #bg{
          position: relative;
          width: 100%;
          height: 100%;
          display: block;
          img{
            width: 90vw;
            height: 100vh;
            margin-left: 70px;
          }
        }
        #player_sec{
          position: absolute;  
          top: 30%;  
          left: 36.3%; 
          vg-player{
            width: 27.2vw;
            height: 30vh;
          }
        }
      }
    }
  }
  #a1{
    position: absolute;
    top: 65%;
    height: 15vh;
    left: 23%;
    width: 7vw;
}
.one{
  cursor: pointer;
  height: 5vh;
  outline: -webkit-focus-ring-color auto 0px !important;
}
#a2{
    position: absolute;
    top: 65%;
    height: 15vh;
    left: 49%;
    width: 8vw;
}
.two{
cursor: pointer;
height: 5vh;
outline: -webkit-focus-ring-color auto 0px !important;
}
#a3{
    position: absolute;
    top: 65%;
    height: 15vh;
    left: 69%;
    width: 7vw;
}
.three{
cursor: pointer;
height: 5vh;
outline: -webkit-focus-ring-color auto 0px !important;
}