<section>
    <div id="content">
      <div id="content_wrap">
        <div id="bg" style="background-color: black;">
          <img src="assets/reinvest/images/renovate-landing.jpg" alt="">
        </div>
        <div id="a1">
          <div class="one" [routerLink]="['/rennovate-one']">
          </div>
        </div>
        <div id="a2">
          <div class="two" [routerLink]="['/rennovate-two']">
          </div>
        </div>
        <div id="a3">
          <div class="three" [routerLink]="['/rennovate-three']">
          </div>
        </div>
        <!-- <div id="join">
          <div class="four" [routerLink]="['/auditorium/two']">
          </div>
        </div> -->
      </div>
    </div>
  </section>