<section>
    <div id="content">
        <div id="content_wrap">
            <div id="bg">
                <img src="assets/reinvest/images/rajasthan.jpg" alt="">
            <div id="checking">
                <div id="player_sec">
                    <vg-player>
                        <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">
                            <vg-play-pause></vg-play-pause>
                            <vg-time-display></vg-time-display>
                            <vg-mute></vg-mute>
                            <vg-scrub-bar>
                              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                          </vg-scrub-bar>
                            <vg-fullscreen></vg-fullscreen>
                        </vg-controls>
                        <vg-buffering></vg-buffering>
                        <video #myMedia [vgMedia]="myMedia" preload="auto" [vgHls]="videoPlayer" autoplay="true"
                            vg-responsive="true" type="video/mp4">
    
                        </video>
                    </vg-player>
                </div></div></div>
            <div class="logo">
               <!-- <img src="https://starmyanmar.multitvsolution.com/assets/iglobal/all-logo/partners.png" alt=""> -->
            </div>
            <div class="slider">
                
                <div class="slide-track">
                    <div class="slide" *ngFor="let slide of slideContent; let i=index;">
                        <img src="{{slide.img}}" [ngStyle]="{'width':slide.wd+'px'}" alt="" />
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<div class="rightMenu" style="position: absolute !important;
right: 6% !important;
top: 13% !important;
text-align: center !important;
padding: 20px 10px !important;
color: #fff !important;
background: rgba(0,0,0,.3) !important;
border-top-left-radius: 20px !important;
border-bottom-left-radius: 20px !important;
cursor: pointer !important;">


    <ul class="list-unstyled">
        <li>
            <a data-toggle="modal" data-target=".t23"><img src="assets/icons/chat-h.png" alt="">
                <div>Ask Question</div>
            </a>
        </li>
    </ul>
    <!-- <ul class="list-unstyled">
        <li>
            <a data-toggle="modal" data-target=".quizModal"><img src="assets/icons/first-floor-h.png" alt="">
                <div>Quiz</div>
            </a>
        </li>
    </ul> -->
    <!-- <ul class="list-unstyled">
        <li>
            <a (click)="openGroupChat()"><img src="assets/icons/chat-h.png" alt="">
                <div>Group Chat</div>
            </a>
        </li>
    </ul> -->
    <!-- <ul class="list-unstyled">
              <li>
                  <a data-toggle="modal" data-target=".pollModal"><img src="assets/icons/navigation-h.png" alt="">
                      <div>Poll</div>
                  </a>
              </li>
          </ul> -->
    <!-- <ul class="list-unstyled">
              <li> <a data-toggle="modal" data-target=".feebackModal"><img src="assets/icons/contact-h.png" alt="">
                      <div>Feedback</div>
                  </a>
              </li>
          </ul> -->

</div>
<div class="modal fade t23" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="container-fluid" id="popup">
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="chat_section">
                <div class="popup_header">
                  <h6>Ask a Question</h6>
                  <a class="close" (click)="closePopup()"></a>
                </div>
                <div class="container-fluid" style="  background: #f2f4f7;">
                  <h6 style="text-align: center;" *ngIf="msg">{{msg}}</h6>
                  <div class="row pt-2">
                    <div class="col-md-12 col-xl-12 pl-0">
                      <div class="chat_box">
                        <ul class="chat_message">
                          <li class="chat_messageList" *ngFor="let qa of qaList">
                            <div class="img_avatar"> <img src="assets/img/default_avatar.png" alt=""></div>
                            <p>
                              <span class="person">
                                <a href="javascript:void(0);" class="checkProfile">{{qa.question}}</a>
                              </span>
                              <!-- <span class="time">{{chat.created | date: 'medium'}}</span> -->
                            </p>
                            <!-- <div class="img_avatar"> <img src="../../../assets/img/default_avatar.png" alt=""></div> -->
                            <div class="text_message"> <img src="assets/img/customer_support.png" *ngIf="qa.answer"
                                alt="" height="25px" width="20px"> &nbsp; &nbsp;{{qa.answer}}</div>
                          </li>
                        </ul>
                      </div>
                      <div class="message_input">
                        <textarea name="message" autocomplete="off" placeholder="Enter your question"
                          [formControl]="textMessage" (keyup.enter)="postQuestion(textMessage.value)" maxlength="200"
                          type="text" id="query" value=""></textarea>
                      </div>
                      <button type="submit" class="btn borderBtn SubmitBut"
                        style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;"
                        (click)="postQuestion(textMessage.value)">Submit</button>
                    </div>
                    <!-- <div class="col-md-1 col-xl-1">
                        <div class="online_chat"></div>
                      </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>