<section class="sectionBgnew">
  <div class="content-wrap">
    <div class="content loby-content">
      <div class="lobby-bg">
        <img src="assets/tie/images/Networking_Lounge.jpg" width="100%" alt="audi">
        <!-- <div style="position: absolute;  top: 8%; left: 32%;" *ngIf="liveMsg">
          <div class="alert alert-success " role="alert">
            The session is currently live, please proceed towards the session <a routerLink='/{{redirect}}'>here</a>.
          </div>
        </div> -->
        <div class="letsChat" (click)="openChat()">
          <div class="pulsating-circle"></div>
        </div>
        <div class="smile" (click)="openCamera()">
          <div class="pulsating-circle"></div>
        </div>
        <div class="video">
          <div class="pulsating-circle" data-target=".AgendaModal" data-toggle="modal"></div>
        </div>
        <div class="photobooth">
          <div class="pulsating-circle" (click)="openCamera()"></div>
        </div>
        <div id="fb">
          <!-- <div _ngcontent-odl-c31="" class="fb-page fb_iframe_widget" data-adapt-container-width="true" data-height="140" data-hide-cover="true" data-href="https://www.facebook.com/REInvestIndia/" data-show-facepile="false" data-small-header="true" data-tabs="timeline" data-width="90" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=0&amp;height=120&amp;hide_cover=true&amp;href=https%3A%2F%2Fwww.facebook.com%2FREInvestIndia%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;small_header=true&amp;tabs=timeline&amp;width=75"><span style="vertical-align: bottom; width: 150px; height: 120px;"><iframe name="fa3966277c6b8c" width="82px" height="140px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df252c50e68afbd%26domain%3Dlocalhost%26origin%3Dhttp%253A%252F%252Flocalhost%253A4200%252Ff30446143998ca8%26relation%3Dparent.parent&amp;container_width=0&amp;height=120&amp;hide_cover=true&amp;href=https%3A%2F%2Fwww.facebook.com%2FREInvestIndia%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;small_header=true&amp;tabs=timeline&amp;width=82" style="border: none; visibility: visible; width: 190px; height: 120px;" class=""></iframe></span></div> -->
          <!-- <div _ngcontent-ipl-c31="" class="fb-page fb_iframe_widget fb_iframe_widget_fluid"
          data-adapt-container-width="true" data-height="200" data-hide-cover="true" data-href="https://www.facebook.com/REInvestIndia/"
          data-show-facepile="false" data-small-header="true" data-tabs="timeline" data-width="200"
          fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=0&amp;height=200&amp;hide_cover=true&amp;href=https%3A%2F%2Fwww.facebook.com%2FREInvestIndia%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;small_header=true&amp;tabs=timeline&amp;width=200"><span
              style="vertical-align: bottom; width: 200px; height: 200px;"><iframe name="f153100d22eb80c"
                  width="200px" height="200px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin"
                  frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
                  src="https://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df2ddcb574622dac%26domain%3Dlocalhost%26origin%3Dhttp%253A%252F%252Flocalhost%253A4200%252Ffbe957dc799394%26relation%3Dparent.parent&amp;container_width=0&amp;height=200&amp;hide_cover=true&amp;href=https%3A%2F%2Fwww.facebook.com%2FREInvestIndia%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;small_header=true&amp;tabs=timeline&amp;width=200"
                  style="border: none; visibility: visible; width: 200px; height: 200px;" class=""></iframe></span></div> -->
         </div>
        <!-- <div id="twitter">
           <a width="200" height="20" class="twitter-timeline" data-chrome="nofooter noheader"href="https://twitter.com/REInvestIndia?ref_src=twsrc%5Etfw">Tweets
                        by REInvestIndia</a>
        </div> -->
        <!-- <div id="instagram">
            <iframe max-width="100%" height="440" src="http://instagram.com/reinvest_india" frameborder="0"></iframe>
        </div> -->
        <div id="fbpopup">
          <div class="fa baba"  (click)="openwidgetpopup('Facebook')" aria-hidden="true"></div>
        </div>
        <div id="twitterpopup">
          <p class="fa tweets"  (click)="openwidgetpopup('Twitter')" aria-hidden="true"></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section>
  <div id="content">
    <div id="content_network">
      <div id="bg">
        <img src="assets/reinvest/images/b2b.jpg" alt="">
      </div>
      <div>
        <div style="position: absolute;  top: 8%; left: 32%;" *ngIf="liveMsg">
          <div class="alert alert-success " role="alert">
            The session is currently live, please proceed towards the grand ballroom.
          </div>
        </div> -->
        <div style="position: absolute;  top: 8%; left: 32%;" *ngIf="ChatMsg">
          <div class="alert alert-success " role="alert">
            {{senderName}} has sent you a New Message
          </div>
        </div>
        <!-- <div id="setplay">
              <vg-player>
                <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">
          
                  <vg-play-pause></vg-play-pause>
                  <vg-time-display ></vg-time-display>
                  <vg-playback-button></vg-playback-button>
                  <vg-mute></vg-mute>
                  <vg-volume></vg-volume>
                  <vg-fullscreen ></vg-fullscreen>
                </vg-controls>
                <vg-buffering></vg-buffering>
                <video #myMedia [vgMedia]="myMedia"
                preload="auto"  autoplay="true"
                 vg-responsive="true"
                type="video/mp4" >
                <source src="../../../assets/video/brand.mp4" type="video/mp4">
                </video>
            </vg-player>
            </div>
        <div class="letsChat" (click)="openChat()">
          <div class="pulsating-circle"></div>
        </div>
        <div class="smile" (click)="openCamera()">
          <div class="pulsating-circle"></div>
        </div>
        <div class="video" data-toggle="modal" data-target=".agendaModal">
          <a class="pulsating-circle"></a>
        </div>
        <div class="auditorium-left" (click)="openWtsapp()">
              <div class="pulsating-circle"  ></div>
            </div>
        <div class="photobooth">
          <div class="pulsating-circle" (click)="openCamera()"></div>
        </div>


        <div class="wtsapp">
              <div class="pulsating-circle" (click)="openWtsapp()"></div>
            </div>
      </div>
    </div>
  </div>
</section> 
<div class="bg">
  <div style="position: absolute;  top: 8%; left: 32%;" *ngIf="liveMsg">
    <div class="alert alert-success " role="alert">
      The session is currently live, please proceed towards the grand ballroom.
    </div>
  </div>
  <div style="position: absolute;  top: 23%;  left: 19%;">
    <vg-player  [ngStyle]="{'width': '20%'}">
      <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">

        <vg-play-pause></vg-play-pause>
        <vg-time-display ></vg-time-display>
        <vg-playback-button></vg-playback-button>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>
        <vg-fullscreen ></vg-fullscreen>
      </vg-controls>
      <vg-buffering></vg-buffering>
      <video #myMedia [vgMedia]="myMedia"
      preload="auto"  autoplay="true"
       vg-responsive="true"
      type="video/mp4" >
      <source src="assets/video/lifeboy.mp4" type="video/mp4">
      </video>
  </vg-player>
  </div>
</div> -->


<!-- modal -->

<div class="modal fade widgetmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="widgetpopup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="profile_section">
              <div class="chat_section">
                <div class="popup_header">
                  <!-- <h6 class="text-dark"><b>SPEAKERS</b></h6> -->
                  <h4>{{heading}}</h4>
                  <a class="close" (click)="closedwidgetpopup()"></a>
                </div>
                
                <div class="row mt-4 ml-2 mr-2 mb-2" id="setPopup">
                  <div [ngStyle]="{'display':heading==='Twitter'?'block':'none'}">
                      <a width="2000" height="500" class="twitter-timeline" data-chrome="nofooter noheader"href="https://twitter.com/TiEDelhi">Tweets
                        by TieDelhi</a>
                    <!-- <a width="900" height="500" class="twitter-timeline" data-chrome="nofooter noheader"href="https://twitter.com/REInvestIndia?ref_src=twsrc%5Etfw">Tweets
                        by REInvestIndia</a> -->
                  </div>
                  <div *ngIf="heading!=='Twitter'">
                              <div  class="fb-page fb_iframe_widget" data-adapt-container-width="true" data-height="500" data-hide-cover="true" data-href="https://www.facebook.com/TiEDelhi/" data-show-facepile="false" data-small-header="true" data-tabs="timeline" data-width="900" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=0&amp;height=500&amp;hide_cover=true&amp;href=https://www.facebook.com/TiEDelhi/&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;small_header=true&amp;tabs=timeline&amp;width=250"><span style="vertical-align: bottom; width: 900px; height: 500px;"><iframe name="fa3966277c6b8c" width="450px" height="900px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df252c50e68afbd%26domain%3Dlocalhost%26origin%3Dhttp%253A%252F%252Flocalhost%253A4200%252Ff30446143998ca8%26relation%3Dparent.parent&amp;container_width=0&amp;height=450&amp;hide_cover=true&amp;href=https://www.facebook.com/TiEDelhi/&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;small_header=true&amp;tabs=timeline&amp;width=900" style="border: none; visibility: visible; width: 900px; height: 500px;" class=""></iframe></span></div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>