<div class="container-fluid" id="popup">
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="chat_section">
                <div class="popup_header">
                    <h6 style="text-transform: uppercase;">visitor dashboard</h6>
                    <a class="close" (click)="closePopup()"></a>
                </div>
                <div class="container-fluid" style="  background: #f2f4f7;">
                    <div class="row pt-2">

                        <div class="col-md-6">
                            <div class="profile-card" id="html-content-holder">
                                <div>
                                    <figure>
                                        <i class="fa fa-user"></i>
                                    </figure>
                                    <h3>{{user_profile.name}}</h3>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td><i class="fa fa-id-badge"></i>{{user_profile.designation}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-envelope"></i>{{user_profile.email}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-mobile"></i>{{user_profile.mobile}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- <a nhref="" class="download_card" (click)="download()">
                                    Download
                                </a> -->

                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <h5>BRIEFCASE ITEMS</h5>
                            <hr>
                            <div class="chat_box">
                                <ul class="chat_message">
                                  <li class="chat_messageList pb-4" *ngFor="let item of breficase_items">
                                    <div class="img_avatar"> <img src="./assets/img/pdf.png" alt=""></div>
                                 
                                      <span class="person">
                                        <a href="{{item.document}}" target="_blank" download class="checkProfile"> {{item.title}}</a>
                                      </span>
                                      
                                 
                
                                  </li>
                                  
                                 
                                </ul>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>