<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../../../assets/video/to_right_Auditorium.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->
<section>
    <!-- <div style="position: absolute;top: 10%; right: 1%;z-index: 1000;">
            <audio id="myAudioWhistle">
                <source src="assets/img/applause.wav" type="audio/wav">
                <source src="assets/img/whistle.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <a (click)="playAudioWhistle()" type="button">
                <img src="../../../../../assets/img/whistle.png" alt="">
                <span class="handimg"></span>
            </a>
        </div> -->
    <!-- <div id="clap">
                <audio id="myAudioClap">
                    <source src="assets/img/applause.wav" type="audio/wav">
                    <source src="assets/img/applause.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <a (click)="playAudioClap()" type="button">
                    <img src="../../../../../assets/img/hand.png" alt="">
                    <span class="handimg"></span>
                </a>
            </div> -->
    <div id="content">
        <div id="content_wrap">
            <div id="bg">
                <img [src]="banner" alt="">

                <div id="player_sec" [ngStyle]="{'top':top+'%', 'left':left+'%','width':width+'vw'}">
                    <vg-player>
                        <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">
                            <vg-play-pause></vg-play-pause>
                            <vg-time-display></vg-time-display>
                            <vg-mute></vg-mute>
                            <vg-scrub-bar>
                                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                            </vg-scrub-bar>
                            <vg-fullscreen></vg-fullscreen>
                            <!-- <button class="btn btn-dark" [ngClass]="{'colors': isOrange}" style="    position: absolute;
                                    right: 28%;
                                    top: 23%;
                                    padding: 2px;
                                    color: #fff;"
                                (click)="changeStreamenglish()">English</button>
                            <button class="btn btn-dark" [ngClass]="{'colors': iscolor}" style="    position: absolute;
                                    right: 39%;
                                    top: 23%;
                                    padding: 2px;
                                    color: #fff;"
                                (click)="changeStream()">Hindi</button> -->


                        </vg-controls>
                     
                        <video #myMedia [vgMedia]="myMedia" [poster]='poster' preload="auto" [vgHls]="videoPlayerTwo" autoplay
                            vg-responsive="true" type="video/mp4">

                        </video>
                    </vg-player>
                </div>
            </div>
        </div>
    </div>

</section>
<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img src="assets/tie/images/ticker/ticker.jpg"  alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/ticker_1.jpg" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/ticker.jpg"  alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/ticker_1.jpg" alt="" />
        </div>
        <!-- <div class="slide">
            <img src="assets/tie/images/ticker/3.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/4.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/5.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/6.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/7.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/8.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/9.jpg" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/10.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/11.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/12.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/13.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/14.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/15.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/16.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/17.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/18.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/19.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/20.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/21.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/22.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/23.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/24.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/25.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/26.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/27.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/28.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/29.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/30.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/31.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/32.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/33.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/34.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/35.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/36.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/37.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/38.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/39.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/40.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/41.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/42.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/43.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/44.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/45.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/46.png" height="60" width="250" alt="" />
        </div> -->
        <!-- repeated stuff -->
        <!-- <div class="slide">
            <img src="assets/tie/images/ticker/1.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/2.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/3.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/4.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/5.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/6.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/7.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/8.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/9.jpg" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/10.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/11.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/12.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/13.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/14.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/15.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/16.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/17.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/18.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/19.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/20.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/21.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/22.png" height="60" width="170" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/23.png" height="60" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/24.png" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="assets/tie/images/ticker/25.png" height="60" width="250" alt="" />
        </div> -->
        <!-- <div class="slide">
            <img src="../../../assets/reinvest/all-logo/02.jpg" height="60" width="170"
                alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/03.jpg" height="60" width="250"
                alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/04.jpg" height="60" width="200"
                alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/05.jpg" height="60" width="200"
                alt="" />
        </div>
        
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/07.jpg" height="60" width="150"
                alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/08.jpg" height="60" width="150"
                alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/09.jpg" height="60" width="200"
                alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/06.jpg" height="60" width="310"
                alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/01.jpg" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/02.jpg" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/03.jpg" height="60" width="200" alt="" />
        </div>
        <div class="slide">
            <img src="../../../assets/reinvest/all-logo/04.jpg" height="60" width="200" alt="" />
        </div> -->

        
    </div>
</div>
<div class="rightMenu">

    <!-- <ul class="list-unstyled" >
                    <li>
    
                    </li>
                </ul> -->

                <ul class="list-unstyled">
                    <li>
                        <a data-toggle="modal" data-target=".t16"><img src="assets/icons/chat-h.png" alt="">
                            <div>Ask Question</div>
                        </a>
                    </li>
                </ul>
                <ul class="list-unstyled">
                    <div id="clap">
                       <audio id="myAudioClap">
                           <source src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/img/applause.wav" type="audio/wav">
                           <source src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/img/applause.mp3" type="audio/mpeg">
                           Your browser does not support the audio element.
                       </audio>
                       <a (click)="playAudioClap()" type="button">
                           <img style="width: 44px;" src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/img/hand.png" alt="">
                           <!-- <span class="handimg"></span> -->
                       </a>
                   </div>
               </ul>
    <!-- <ul class="list-unstyled">
                <li>
                    <a data-toggle="modal" data-target=".quizModal"><img src="assets/icons/first-floor-h.png" alt="">
                        <div>Quiz</div>
                    </a>
                </li>
            </ul> -->
    <!-- <ul class="list-unstyled">
              <li>
                  <a (click)="openGroupChat()"><img src="assets/icons/chat-h.png" alt="">
                      <div>Group Chat</div>
                  </a>
              </li>
          </ul> -->
    <!-- <ul class="list-unstyled">
                    <li>
                        <a data-toggle="modal" data-target=".pollModalTwo"><img src="assets/icons/navigation-h.png" alt="">
                            <div>Poll</div>
                        </a>
                    </li>
                </ul> -->
    <!-- <ul class="list-unstyled">
                    <li> <a data-toggle="modal" data-target=".feebackModal"><img src="assets/icons/contact-h.png" alt="">
                            <div>Feedback</div>
                        </a>
                    </li>
                </ul> -->

</div>
<!-- groupchatTwo Modal -->
<div class="modal fade groupchatTwo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Group Chat</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <h6 style="text-align: center;"></h6>
                                <div class="row pt-2">
                                    <div class="col-md-12 col-xl-12 pl-0">
                                        <div class="chat_box">
                                            <ul class="chat_message" #scroller [scrollTop]="scroller.scrollHeight">
                                                <li class="user-profile-row" *ngFor="let user of messageList" id="user_row_500">
                                                    <div class="user-profile-data">
                                                        <div class="user-profile-image"> <img class="img-responsive user-profile-img"
                                                                src="assets/img/user1.jpg" width="32">
                                                        </div>
                                                        <div class="user-profile-info">
                                                            <p class="user-profile-name"><a href="javascript:void(0);">{{user.user_name}}</a></p>
                                                            <p class="user-profile-company">{{user.chat_data}}</p>
                                                        </div>
                                                    </div>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="message_input">
                                            <textarea name="message" autocomplete="off" placeholder="Chat will be shown after moderation"
                                                [formControl]="textMessage" (keyup.enter)="postMessageTwo(textMessage.value)"
                                                maxlength="200" type="text" id="query" value=""></textarea>
                                        </div>
                                        <button type="submit" class="btn borderBtn SubmitBut" style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;"
                                            (click)="postMessageTwo(textMessage.value)">Send</button>
                                    </div>
                                    <!-- <div class="col-md-1 col-xl-1">
                                        <div class="online_chat"></div>
                                      </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade t16" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="container-fluid" id="popup">
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="chat_section">
                <div class="popup_header">
                  <h6>Ask a Question</h6>
                  <a class="close" (click)="closePopups()"></a>
                </div>
                <div class="container-fluid" style="  background: #f2f4f7;">
                  <h6 style="text-align: center;" *ngIf="msg">{{msg}}</h6>
                  <div class="row pt-2">
                    <div class="col-md-12 col-xl-12 pl-0">
                      <div class="chat_box">
                        <ul class="chat_message">
                          <li class="chat_messageList" *ngFor="let qa of qaList">
                            <div class="img_avatar"> <img src="assets/img/default_avatar.png" alt=""></div>
                            <p>
                              <span class="person">
                                <a href="javascript:void(0);" class="checkProfile">{{qa.question}}</a>
                              </span>
                              <!-- <span class="time">{{chat.created | date: 'medium'}}</span> -->
                            </p>
                            <!-- <div class="img_avatar"> <img src="../../../assets/img/default_avatar.png" alt=""></div> -->
                            <div class="text_message"> <img src="assets/img/customer_support.png" *ngIf="qa.answer"
                                alt="" height="25px" width="20px"> &nbsp; &nbsp;{{qa.answer}}</div>
                          </li>
                        </ul>
                      </div>
                      <div class="message_input">
                        <textarea name="message" autocomplete="off" placeholder="Enter your question"
                          [formControl]="textMessage" (keyup.enter)="postQuestion(textMessage.value)" maxlength="200"
                          type="text" id="query" value=""></textarea>
                      </div>
                      <button type="submit" class="btn borderBtn SubmitBut"
                        style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;"
                        (click)="postQuestion(textMessage.value)">Submit</button>
                    </div>
                    <!-- <div class="col-md-1 col-xl-1">
                        <div class="online_chat"></div>
                      </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>