.bg {
    // background-image: url(../../../assets/img/Lobby/lobby.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // background-color: #464646;

    width: 100%;
    height: 100vh;
    // position: relative;
}
// .fb-page, .fb-page span, .fb-page span iframe[style] { 
//     width: 50% !important; 
// }
.loby-bg {
    img{        
    // width: 100vw;
    // height: 100vh;
    width: calc(100% - 140px);
    height: 100vh;
    margin-left: 70px;
    }
}
#modal-video{
    border-radius:5px; 
    padding: 0 3px;   
    position: relative;
    top: 3px;
    #closePopup{
        position: absolute;
        top: -16px;
        right: -16px;
        line-height: 24px;
        font-size: 30px;
        background: #e40e38;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        color: white;
        font-weight: 500;
        z-index: 1000;
        cursor: pointer;
    }
  }
section{
    position: relative;
    .content-wrap {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      max-width: 100%;
      margin: auto;
      position: relative;
      .lobby-bg{
        position: relative;
          width: 100%;
          height: 100%;
          display: block;
      }
    } 
  }
  .mar{
    position: absolute;
    top: 20%;
    left: 39%;
    cursor: pointer;
    height: 2vw;
    width: 21vw;
    background-color: white;
  }
.reception {
        position: absolute;
        bottom: 23%;
        left: 45%;
        cursor: pointer;
        // background: black;
        
    height: 4vw;
    width: 15vw;
     
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }
}
.front_audi {
        position: absolute;
        top: 48%;
        left: 43.5%;
        cursor: pointer;
        // background: black;
        height: 6vh;
        width: 11vw;          
    .pulsating-circle{
        position: absolute;
        top: 55%;
        left: 50%;
    }
}
.auditorium-left {
    position: absolute;
    top: 31%;
    left: 10%;
    height: 12.2vh;
    width: 12.2vw;
    cursor: pointer;
    // background: black;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 57%;
    }
}
.auditorium-right {    
        position: absolute;
        top: 32%;
        right: 13%;
        height: 7vh;
        width: 16vw;
        cursor: pointer;
        // background: black;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
.exhibition-hall {
    height: 12vh;
    width: 12vw;
    position: absolute;
    top: 44%;
    left: 29%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          right: 25%;
      }
  
  }
  .exhibition-hall-up {
    height: 12vh;
    width: 12vw;
    position: absolute;
    top: 0%;
    left: 0%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          right: 25%;
      }
  
  }
  .exhibition-hall2-up {
    height: 12vh;
    width: 12vw;
    position: absolute;
    top: 0%;
    left: 29%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          right: 25%;
      }
  
  }
  .exhibition-hall3-up {
    height: 12vh;
    width: 12vw;
    position: absolute;
    top: 0%;
    left: 68%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          right: 25%;
      }
  
  }
.exhibition_two {
    height: 10vh;
    width: 10vw;
    position: absolute;
    top: 48%;
    right: 25%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 50%;
          right: 54%;
      }
  
  }
  .exhibition_three {
    height: 10vh;
    width: 10vw;
    position: absolute;
    top: 33%;
    right: 10%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 50%;
          right: 50%;
      }
  
  }
.registraion-desk {
    .pulsating-circle{
        position: absolute;
        top: 55%;
        left: 55%;
        cursor: pointer;
    }
}
.networking-lounge {
    height: 7vh;
    width: 14vw;
    position: absolute;
    top: 47%;
    right: 25%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          right: 5%;
      }
  
  }
  .speaker-profile {
    height: 7vh;
    width: 14vw;
    position: absolute;
    top: 38%;
    right: 17%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          right: 5%;
      }
  
  }
  .sponsor_video {
    height: 7vh;
    width: 14vw;
    position: absolute;
    top: 59%;
    right: 14%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          right: 5%;
      }
  
  }
  .pitch {
    height: 7vh;
    width: 14vw;
    position: absolute;
    top: 63%;
    right: 25%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          right: 5%;
      }
  
  }
  .lounge {
    height: 7vh;
    width: 14vw;
    position: absolute;
    top: 63%;
    right: 29%;
    // background: black;
    cursor: pointer;
      .pulsating-circle{
          position: absolute;
          top: 75%;
          right: 5%;
      }
  
  }
.acma1 {
    position: absolute;
    bottom: 23%;
    left: 20%;
    cursor: pointer;
    // background: black;
    height: 7vw;
    width: 3vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}
.broucher{
    position: absolute;
    bottom: 23%;
    left: 13%;
    cursor: pointer;
    // background: black;
    height: 7vw;
    width: 3vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}
.acma2 {
    position: absolute;
    bottom: 40%;
    left: 23%;
    cursor: pointer;
    height: 7vw;
    width: 5vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}
.playScreen{
    position: absolute;
    top: 33%;
    left: 43%;

    video{
        position: absolute;
        background: black;
        padding: 2px;
        width: 15vw;
        height: 16vh;
        border-radius: 5px;
    }
    img{
        padding: 2px;
        width: 15.3vw;
        height: 17.8vh;
        border-radius: 5px; 
        cursor:pointer;
    }
}

.infinity {
    position: absolute;
    bottom: 37%;
    left: 43%;
    cursor: pointer;
    height: 7vw;
    width: 3vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}
.quantum {
    position: absolute;
    bottom: 40%;
    left: 43%;
    cursor: pointer;
    height: 7vw;
    width: 3vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}
.quantum {
    position: absolute;
    top: 51%;
    left: 53.5%;
    cursor: pointer;
    // background: black;
    height: 5vw;
    width: 4vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}
.tech-slideshow {
    height: 10vh;
    width: 100%;
    position: absolute;
    bottom: 0%;
    right: 0%;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  
@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 180s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 30))}
}


// Styling
.logo{
    // width: 15%;
    position: absolute;
    bottom: 0%;
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 60px;
    margin: auto;
    z-index: 99999;
    overflow:hidden;
    img{
        z-index: 9999999;
    height: 60px;
    padding: 0 10px 0 10px;
    margin-left: 70px;
    // padding-bottom: 30px;
    }
}
.slider {
    // height: 8vh;
    width: 100%;
    position: absolute;
    bottom: 0%;
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 60px;
	margin: auto;
    overflow:hidden;
    // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	// position: relative;
	// width: 960px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
        width: calc(250px * 20);
        text-align: center;
	}
	
	.slide {
		height: 100px;
        width: 100%;
        img{
            height: 80px;
            // width: 200px;
        }
	}
}

@media only screen and (max-width: 800px) {
    .logo{
        // width: 25% !important;
        height: 45px;
        img{
            margin-left: 55px;
            height: 45px;
        }
    }
    .slider {
        height: 45px !important;
        .slide{
            img{
                height: 45px;
            }
        }
    }
    .loby-bg{
        img{
            width: calc(100% - 100px);
            margin-left: 50px;
        }
    }
  }
.exhibition-hall{
    outline: -webkit-focus-ring-color auto 0px !important;
}
.exhibition_two{
    outline: -webkit-focus-ring-color auto 0px !important;
}
.exhibition_three{
    outline: -webkit-focus-ring-color auto 0px !important;
}
#popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  
  .chat_box{
    .chat_message{
      list-style-type: none;
      padding: 0;
      display: inline-block;
      height: 400px;
      width: 96%;
      overflow: auto;
      overflow-x: hidden;
      .chat_messageList{
        padding: 10px;
        .img_avatar{
          float: left;
         // width: 46px;
          img{
            padding-right: 10px;
            // width: 28px;
            height: 22px;
          //  border-radius: 50px;
          }
        }
        span{
          .person{
            display: block;
            color: #292f35;
            font-weight: bold;
            font-size: 14px;
            float: left;
            cursor: pointer;
            margin-right: 15px;
            text-transform: capitalize;
            line-height: 18px;
            .checkProfile{
              text-decoration: none;
              outline: none;
              color: #292f35;
            }
          }
          .time {
            float: right;
            color: dimgrey;
            line-height: 18px;
          }
        }
        .text_message{
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          margin-left: 48px;
          clear: both;
          margin-bottom: 5px;
        }
      }
      .chat_messageList:nth-child(even){
        background: #e8e8e8;
      }
    }
  }