<div class="bgct">
    <div class="standing">
        <div id="bg">
            <img src="{{banner}}" alt="">
            <i class="fa fa-arrow-right" [routerLink]="['/exhibitionHall/EUavere']" aria-hidden="true"></i>
            <i class="fa fa-arrow-left" [routerLink]="['/exhibitionHall/EUwind']" aria-hidden="true"></i>
            <!-- <div class="logo1">
                <div class="pulsating-circle"></div>
            </div>
            <div class="title">
                <div class="pulsating-circle"></div>
            </div> -->
            <!-- <div class="creatve1" title="Videos" data-toggle="modal" data-target=".videosModal">
                <div class="pulsating-circle"></div>
            </div> -->
            <div class="creatve2" title="Documents" data-toggle="modal" data-target=".docsModal">
                <div class="pulsating-circle"></div>
            </div>
            <!-- <div class="creatve3"  title="Click to open pdf" data-toggle="modal" data-target=".onePdfmodal">
                <div class="pulsating-circle"></div>
            </div> -->
            
               <!-- <a class="linkedin"  title="Linked In" href="https://in.linkedin.com/company/indo-german-chamber-of-commerce" target="_blank" rel="noopener noreferrer"> </a>
            
               <a class="youtube"  title="Youtube" href="https://www.youtube.com/channel/UC1Mb0LtVKTEu-mkDxuY5p3Q" target="_blank" rel="noopener noreferrer"> </a>

               <a class="facebook"  title="Facebook" href="https://twitter.com/IGEFSO" target="_blank" rel="noopener noreferrer"> </a> -->
  

               <!-- <a class="first_link"  href="https://www.energyforum.in/home/" target="_blank" rel="noopener noreferrer"> </a>

               <a class="second_link"  href="https://www.german-energy-solutions.de/GES/Navigation/EN/Home/home.html" target="_blank" rel="noopener noreferrer"> </a>

               <a class="third_link"  href="https://indien.ahk.de/" target="_blank" rel="noopener noreferrer"> </a> -->

               <div class="exchat" title="Chat with Exhibitor" data-toggle="modal" data-target=".liveQuestionModal">
                <div class="pulsating-circle"></div>
              </div>

            <!-- <div class="video_meeting" title="Schedule a call" data-toggle="modal" data-target=".scheduleCallmodal">
              <div class="pulsating-circle"></div>
            </div> -->
            <div class="live_chat" title="Click to play video" (click)="playShowVideo('https://virtualapi.multitvsolution.com/countryStall/solarpowerEurope/SolarPowerEurope_manifest_Brand_ID_200928%20(1).mp4')">
              <div class="pulsating-circle"></div>
            </div>
            <div class="connectUs" data-toggle="modal" title="Connect with us" data-target=".salesModal">
                <div class="pulsating-circle"></div>
              </div>
            <!-- <div class="open_pdf" title="Click to open pdf" data-toggle="modal" data-target=".scheduleCallmodal">
                <div class="pulsating-circle"></div>
              </div> -->
            <!-- <div class="connectUs" data-toggle="modal" title="Connect with us" data-target=".salesModal">
              <div class="pulsating-circle"></div>
            </div>
            <div class="broucher" title="Broucher" data-toggle="modal" data-target=".docsModal">
              <div class="pulsating-circle"></div>
            </div> -->
            <!-- <div class="product_list" data-toggle="modal" data-target=".productModal" (click)="stepUpAnalytics('Product_list')">
              <div class="pulsating-circle"></div>
            </div> -->
            <!-- <div class="broucher" data-toggle="modal" data-target=".docsModal" (click)="stepUpAnalytics('Brouchers_list')">
              <div class="pulsating-circle"></div>
            </div> -->
            <!-- <div class="card_drop" (click)="cardPost()" (click)="stepUpAnalytics('Card_drop')">
              <div class="pulsating-circle"></div>
            </div> -->
            <!-- <div class="logo2">
              <img src="{{exhibiton[0].logo}}" style="height:49px; width: 150px;">
            </div> -->
          </div>
    </div>
  </div>

  <div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div id="modal-video">
            <div id="closePopup" (click)="closeModalVideo()">&times;</div>
            <video id="video" preload="auto" [src]="videoSource" width="100%" controls>
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- open one pdf -->

  <div class="modal fade onePdfmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <div class="container-fluid" id="popup">
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="chat_section">
                <div class="popup_header">
                  <h6 style="text-transform: uppercase;">Europe Booth</h6>
                  <a class="close" (click)="closeCall('.onePdfmodal')"></a>
                </div>
                <iframe style="width:100%" src="https://virtualapi.multitvsolution.com/countryStall/germany/pdf/Logo_Wall_German_booth_RE-INVEST_2020.pdf"
                height="550" frameborder='0'></iframe>
              </div>
            </div>
          </div>
        
  
        </div>
      </div>
    </div>
  </div>

  <!-- pdf listing modal -->

  <div class="modal fade docsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="container-fluid" id="popup">
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="chat_section">
                <div class="popup_header">
                  <h6 style="text-transform: uppercase;">Documents</h6>
                  <a class="close" (click)="closeCall('.docsModal')"></a>
                </div>
                <div class="container-fluid" style="  background: #f2f4f7;">
                  <div class="row pt-2">
                    <div class="col-md-12 col-xl-12 pl-0">
                      <div class="chat_box">
                        <ul class="chat_message">
                          <li class="chat_messageList" *ngFor="let docs of documents">
                            <div class="img_avatar"> <img src="assets/img/pdf.png" alt=""></div>
  
                            <span class="person">
                              <a href="{{docs.pdf}}" style="text-decoration: none; color: black;" target="_blank"
                                download class="checkProfile"> {{docs.title}}</a>
                            </span>
                           
                          </li>
  
  
                        </ul>
                      </div>
  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>

  <!-- video listing modal -->
  <div class="modal fade videosModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="container-fluid" id="popup">
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="chat_section">
                <div class="popup_header">
                  <h6 style="text-transform: uppercase;">Booth Videos</h6>
                  <a class="close" (click)="closeCall('.videosModal')"></a>
                </div>
                <div class="container-fluid" style="  background: #f2f4f7;">
                  <div class="row pt-2">
                    <div class="col-md-12 col-xl-12 pl-0">
                      <div class="chat_box">
                        <ul class="chat_message">
                          <li class="chat_messageList" *ngFor="let docs of videos">
                            <div class="img_avatar"> <img src="assets/icons/youtube.png" alt=""></div>
  
                            <span class="person">
                                <a href="{{docs.videos}}" style="text-decoration: none; color: black;" target="_blank"
                                   class="checkProfile"> {{docs.title}}</a>
                              </span>
                           
                          </li>
  
  
                        </ul>
                      </div>
  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>

  <!-- Sales-Info -->
<div class="modal fade salesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="container-fluid" id="popup">
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="chat_section">
                <div class="popup_header">
                  <h6 style="text-transform: uppercase;">Connect with us</h6>
                  <a class="close" (click)="closeCall('.salesModal')"></a>
                </div>
                <div class="container-fluid" style="  background: #f2f4f7;">
                  <div class="row pt-2">
  
                    <div class="col-md-6" *ngFor="let sales of salesPerson; let i = index">
                      <div class="profile-card">
                        <div #screen id="hello{{i}}">
                          <figure>
                            <i class="fa fa-user"></i>
                          </figure>
                          <h3>{{sales.name}}</h3>
                          <table class="table">
                            <tbody>
                              <tr>
                                <td><i class="fa fa-globe"></i><a href="{{sales.position}}" target="_blank" rel="noopener noreferrer">{{sales.position}}</a></td>
                              </tr>
                              <tr>
                                <td><i class="fa fa-envelope"></i>{{sales.email}}</td>
                              </tr>
                              <tr>
                                <td><i class="fa fa-mobile"></i>{{sales.contact}}</td>
                              </tr>
                              <!-- <tr>
                                  <td><i class="fa fa-trash"></i><a id="{{sales.id}}">{{sales.id}}</a></td>
                              </tr> -->
                            </tbody>
                          </table>
                        </div>
                        <a nhref="" class="download_card" (click)="download(i,sales.name)">
                          Download
                        </a>
  
                      </div>
                      <div id="download">
                        <img #canvas style="display: none;">
                        <a #downloadLink></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- live chat modal -->
<div class="modal fade liveQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="position: absolute; bottom: 0px; right: 85px;">
      <div class="modal-content">
        <!-- <div class="container-fluid" id="popup">
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="chat_section">
                <div class="popup_header">
                  <h6>Live Chat</h6>
                  <a class="close" (click)="closeChat()"></a>
                </div>
                <div class="container-fluid" style="  background: #f2f4f7;">
                  <div class="row pt-2">
                    <div class="col-md-12 col-xl-12 pl-0">
                      <div class="chat_box">
                        <ul class="chat_message" id="chat_messaged">
                          <li class="chat_messageList" *ngFor="let qa of qaList">
                            <div class="img_avatar"> <img src="../assets/img/default_avatar.png" alt=""></div>
  
                            <span class="person">
                              <a href="javascript:void(0);" style="font-size: 14px; font-weight: bold; color: #000;"
                                class="checkProfile">{{qa.question}}</a>
                            </span>
                            
                            <div class="text_message">
                              <table>
                                <td> <img src="../assets/img/customer_support.png" *ngIf="qa.answer" alt="" height="25px"
                                    width="20px"> &nbsp; &nbsp;</td>
                                <td>
                                  <p [innerHTML]="qa.answer"></p>
                                </td>
                              </table>
  
  
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="message_input">
                        <textarea name="message" autocomplete="off" placeholder="Enter your question" [formControl]="textMessage"
                          (keyup.enter)="postQuestion(textMessage.value)" maxlength="200" type="text" id="query" value=""></textarea>
                      </div>
                      <button type="submit" class="btn borderBtn SubmitBut" style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;"
                        (click)="postQuestion(textMessage.value)">Submit</button>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="card" id="chatSection" *ngIf="isShow">
          <div class="p-3" style="font-weight: 500; background-color: #da251c; color: white;">Chat with Europe Stall
              <i class="fa fa-times float-right" style="cursor: pointer;" title="Minimize Chat" *ngIf="showchat" (click)="hidediv()"></i>
              <i class="fa fa-arrow-up float-right" *ngIf="hidechat" title="Maximize Chat" (click)="show()"></i>
            </div>
          <div class="row" *ngIf="showDiv">
              <div class="col-md-12 col-xl-12 col-sm-12">
                  <div style="max-height: 200px;  min-height: 200px; overflow:auto">
                      <div class="card p-2" *ngFor="let qa of qaList" style="border-left: 5px solid cadetblue; margin-bottom: 5px">
                          <div id="image_profile" style="padding: 1px 12px;
                    ">
                        <span class="profileImage1 card-body" *ngIf="myid != qa.sender_id" title="{{qa.sender_name}}">{{qa.sender_name | slice:0:1}}</span>
                        
                        <div *ngIf="myid != qa.sender_id" id="profile_details1">
                           <div>{{qa.msg}}</div>
                           </div>
                           <span class="profileImage card-body"  *ngIf="myid == qa.sender_id" title="{{qa.sender_name}}">{{qa.sender_name | slice:0:1}}</span>
                           <div *ngIf="myid == qa.sender_id" id="profile_detail">
                            <div>{{qa.msg}}</div>
                            </div>
                      </div>
                      </div>
                  </div>
                  <div class="pt-3 pb-3 pl-1 pr-1">
                      <input class="form-control" [(ngModel)]="msgs" maxlength="60" placeholder="Write something here.." [formControl]="textMessage" (keyup.enter)="postQuestion(textMessage.value)" /> <br>
                    <button class="btn btn-danger" (click)="postQuestion(textMessage.value)">Send</button>
                  </div>
              </div>
          </div>
        </div>
        
  
      </div>
    </div>
  </div>