<!-- <div class="container-fluid" [ngStyle]="{'display':videoPlay? 'none': 'block'}"> -->
    <div id="bg">
        <img src="assets/signup.jpg" alt="" width="100%" style="position: absolute;">
        <!-- <div id="demo" class="carousel slide" data-ride="carousel" data-interval="3000"> -->
            <section class="card" style="cursor: pointer;">
                <article class="card__body">
            <p id="demo" class="card__text"></p>
                  
                </article>
                <footer class="card__footer footer__bg">
                  <img class="card__thumb thumb__bdr" src="assets/tie.png" alt="Profile Picture" />
                  <h2 class="card__p-name">Platform under construction...</h2>
                </footer>
              </section>
            <!-- Indicators -->
            <!-- <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul> -->
            
            <!-- The slideshow -->
            <!-- <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../assets/reinvest/images/login1.jpg" alt="Los Angeles" width="1100" height="500">
              </div>
              <div class="carousel-item">
                <img src="../../assets/reinvest/images/login2.jpg" alt="Chicago" width="1100" height="500">
              </div>
              <div class="carousel-item">
                <img src="../../assets/reinvest/images/login3.jpg" alt="New York" width="1100" height="500">
              </div>
              <div class="carousel-item">
                <img src="../../assets/reinvest/images/login4.jpg" alt="New York" width="1100" height="500">
              </div>
            </div> -->
            
            <!-- Left and right controls -->
            <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a> -->
          <!-- </div> -->
    <!-- </div> -->
    <!-- <div id="loginSection"> -->
        <!-- <div class="row">
            <div class="col-md-8 col-xl-8 col-sm-8">
                <div id="brand">
                    <img src="../../assets/img/logo_acma.png" height="70" alt="logo">
                </div>

            </div>
            <div class="col-md-4 col-xl-4  col-sm-4">
                <div id="icons_social">
                    <a href="https://www.facebook.com/india.acma/" target="_blank"> <img src="https://s3.ap-south-1.amazonaws.com/acma.multitvsolution.in/assets/acme/img/fb-icon.png"
                            width="46">
                    </a>
                    <a href="https://www.linkedin.com/company/acma-india/" target="_blank"> <img src="https://s3.ap-south-1.amazonaws.com/acma.multitvsolution.in/assets/acme/img/in-icon.png"
                            width="46">
                    </a>
                    <a href="https://twitter.com/acmaindia" target="_blank"> <img src="https://s3.ap-south-1.amazonaws.com/acma.multitvsolution.in/assets/acme/img/twit-icon.png"
                            width="46">
                    </a>
                </div>
            </div>
        </div> -->
        
    <!-- </div> -->
</div>
<div [ngStyle]="{'display':videoPlay? 'block': 'none'}" class="videoContainer">
    <video id="myVideo" preload="auto" class="videoBg" (ended)="endVideo()">
      <source src="assets/tie/animation/Outer_Animation.mp4" type="video/mp4">
    </video>
  </div>