@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
// body {
//   background-image: url('../../assets/signup.jpg');
//   background-repeat: no-repeat;
//   background-attachment: fixed; 
//   background-size: 100% 100%;
//   height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: left;
//   font-family: Inter;
//   font-weight: 600;
//   line-height: 1.5;
//   letter-spacing: 0.01rem;
// }
h2{
	font-family: 'Nunito', sans-serif;
	font-size: 1.5rem;
}
p {
	font-family: 'Nunito', sans-serif;
  text-align: center;
      color: #c78b39;
      font-weight: 900;
  font-size: 28px;
  margin-left: 5%;
  width: 100%;
    margin-top: 25%;
}
* {
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}

.card {
	margin-left: 2.5%;
  max-width: 35rem;
  border-radius: 3rem;
  overflow: hidden;
  box-shadow: 0 0 20px 10px #d9d9d9;
  font-size: 2rem;
  top: 30vh;
  
  /*transform: rotate(-5deg);
  transition: transform 0.2s ease-out;*/
}
section:focus {
  outline: -webkit-focus-ring-color auto 0px !important;
}
.card:hover {
  transform: rotate(0);
}
.card__text {
  max-width: 50ch;
  margin: 0;
  padding: 3rem;
}
.card__footer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer__bg {
  background: rgb(92, 191, 187);
  background: linear-gradient(to right, #d1342d, #c78b39);
}
.card__thumb {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 0 2rem;
  transition: transform 0.2s ease-out;
  object-fit: cover;
}
.thumb__bdr {
  border: 5px solid white;
}
.card:hover .card__thumb {
  transform: scale(1.15);
}
.card__p-name {
  color: white;
}
@media only screen and (max-width: 800px) {
  .card{
    max-width: 20rem !important;
  border-radius: 3rem;
  overflow: hidden;
  box-shadow: 0 0 20px 10px #d9d9d9;
  font-size: 2rem;
  top: 25vh !important;
  }
  h2{
    font-size: 0.7rem !important;
  }
  p{
    font-size: 14px;
  }
  .card__thumb {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0 2rem;
    transition: transform 0.2s ease-out;
    object-fit: cover;
  }
  .thumb__bdr {
    border: 2px solid white;
  }
}