section{
    position: relative; 
    height: 100%;
    width: 100%;
    #clap{
      position: absolute;
      top: 19%; 
      right: 1%;
      z-index: 1000;
    }
    #content{
      position: relative;
      #content_wrap{
        position: relative;
        #bg{
          position: relative;
          width: 100%;
          height: 100%;
          display: block;
          img{
            width: 90vw;
            height: 100vh;
            margin-left: 70px;
          }
        }
        #player_sec{
          position: absolute;  
          top: 30%;  
          left: 36.3%; 
          vg-player{
            width: 27.2vw;
            height: 30vh;
          }
        }
      }
    }
  }

  #exhibtion_5{
    position: absolute;
    top: 40%;
    height: 30vh;
    left: 21%;
    width: 7.8vw;
}
#exhibtion_6{
  position: absolute;
  top: 40%;
  height: 30vh;
  left: 35%;
  width: 7.8vw;
}
#exhibtion_7{
  position: absolute;
  top: 40%;
  height: 30vh;
  left: 48%;
  width: 7.8vw;
}
#exhibtion_8{
  position: absolute;
  top: 40%;
  height: 30vh;
  left: 62%;
  width: 7.8vw;
}
#exhibtion_9{
  position: absolute;
  top: 40%;
  height: 30vh;
  left: 76%;
  width: 7.8vw;
}
#exhibtion_10{
  position: absolute;
  top:62%;
  height: 34vh;
  left: 28%;
  width: 7.8vw;
}
#exhibtion_11{
  position: absolute;
  top:62%;
  height: 34vh;
  left: 41.5%;
  width: 7.8vw;
}
#exhibtion_12{
  position: absolute;
  top:62%;
  height: 34vh;
  left: 55%;
  width: 7.8vw;
}
#exhibtion_13{
    position: absolute;
    top:62%;
    height: 34vh;
    left: 69%;
    width: 7.8vw;
}
#exhibtion_14{
  position: absolute;
  top:62%;
  height: 34vh;
  left: 82%;
  width: 7.8vw;
}
#exhibtion_15{
  position: absolute;
  top: 83%;
  height: 34vh;
  left: 55%;
  width: 7.8vw;
}
#exhibtion_16{
  position: absolute;
  top: 83%;
  height: 34vh;
  left: 68%;
  width: 7.8vw;
}
.one{
    cursor: pointer;
    height: 7vh;
    outline: -webkit-focus-ring-color auto 0px !important;
}
.two{
  cursor: pointer;
  height: 7vh;
  outline: -webkit-focus-ring-color auto 0px !important;
}.three{
  cursor: pointer;
  height: 7vh;
  outline: -webkit-focus-ring-color auto 0px !important;
}.four{
  cursor: pointer;
  height: 7vh;
  outline: -webkit-focus-ring-color auto 0px !important;
}
.five{
    cursor: pointer;
    height: 7vh;
    outline: -webkit-focus-ring-color auto 0px !important;
}
.six{
  cursor: pointer;
  height: 7vh;
  outline: -webkit-focus-ring-color auto 0px !important;
}.seven{
  cursor: pointer;
  height: 7vh;
  outline: -webkit-focus-ring-color auto 0px !important;
}.eight{
  cursor: pointer;
  height: 7vh;
  outline: -webkit-focus-ring-color auto 0px !important;
}
.nine{
    cursor: pointer;
    height: 7vh;
    outline: -webkit-focus-ring-color auto 0px !important;
}
.ten{
  cursor: pointer;
  height: 7vh;
  outline: -webkit-focus-ring-color auto 0px !important;
}.eleven{
  cursor: pointer;
  height: 7vh;
  outline: -webkit-focus-ring-color auto 0px !important;
}.twelve{
  cursor: pointer;
  height: 7vh;
  outline: -webkit-focus-ring-color auto 0px !important;
}
.fa-arrow-right{
  right: 27%;
    position: absolute;
    top: 3%;
    font-size: 3em;
    cursor: pointer;
    color:whitesmoke;
  outline: -webkit-focus-ring-color auto 0px !important;
}


#popup{
  background: #000000c9;
  padding: 5px 5px 0px 5px  ;
  .chat_section{
    background: #ffffff;
    .popup_header{ 
      height: 55px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: #fff;
      background:#d7a322; color:#fff;
      .close {
        position: absolute;
        right: 7px;
        width: 24px;
        height: 28px;
        opacity: 0.5;
      }
      .close:hover {
        opacity: 1;
      }
      .close:before, .close:after {
        position: absolute;
        right: 7px;
        content: ' ';
        height: 28px;
        width: 2px;
        background-color: #000;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }

    }
  }
}
#popupmsg{
  width: 100%;
  padding: 15px 5px;
  p{
    padding: 10px 0;
    color: #000000c9;
  }
  #okbtn{
    background: #d7a322;
    color: white;
  }
  .btn-danger{
    float: right;
  }
}
.fa-calendar:before{
  position: absolute !important;
  margin-left: -35px !important;
  margin-top: 20px !important;
}