
/* Our Team
-------------------------------------------------------*/
#heading{
    position: absolute;
    top: 30px;
    left: 45%;
    width: 100%;
    /* text-align: center; */
    transform: translate(-5%);
    div{
      color: white;
      font-size: 24px;
    }
  }
  h4{
    text-decoration:underline solid black;
  }
  .our-team .team-row {
      margin-left: -40px;
      margin-right: -40px;
    }
    
    .our-team .team-wrap {
      padding: 0 40px;
    }
    
    .our-team .container-fluid {
      padding: 0 50px;
    }
    
    .team-img img {
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      overflow: hidden;
      width: 100%;
    }
    
    .team-member,
    .team-img {
      position: relative;
      overflow: hidden;
    }
    
    .team-title {
      padding: 25px 5px;
      border: 1px solid #eee;
      span{
        color: #153741;
        font-size: 21px;
        border-bottom: 3px solid #d7a322;
      }
    }  
    
    .overlay {
      // background-color: rgba(20,20,20,.7);
      background: #d7a322b3;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
    
    .team-details {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 0;
      padding: 5%;
      overflow: hidden;
      width: 100%;
      z-index: 2;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
    
    .team-details p {
      color: #fff;
    }
    
    .team-img:hover .team-details {
      opacity: 1;
      margin-top: -80px;
    }
    
    .team-img:hover .overlay {
      opacity: 1;
    }
    
    .socials a {
      display: inline-block;
      width: 37px;
      height: 37px;
      background-color: transparent;
    }
    
    .socials i {
      line-height: 37px;
      color: #616161;
      font-size: 14px;
      width: 37px;
      height: 37px;
      border-radius: 50%;
      text-align: center;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      transition: all 0.2s linear;
    }
    
    .team-details .socials i {
        color: #fff;
    }
    
    .socials a:hover i {
      color: #fff;
      background-color: #355c7d;
    }
    
    // 
  
    section{
      position: relative; 
      height: 100%;
      width: 100%;
      #clap{
        position: absolute;
        top: 19%; 
        right: 1%;
        z-index: 1000;
      }
      #content{
        position: relative;
        #content_wrap{
          position: relative;
          #bg{
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            .container{
              width: 90vw;
              height: 100vh;
              // margin-left: 60px;
            }
          }
          #player_sec{
            position: absolute;  
            top: 30%;  
            left: 36.3%; 
            vg-player{
              width: 27.2vw;
              height: 30vh;
            }
          }
        }
      }
    }
  
    // modal
    #setPopup{
      min-height: 420px;
      height: 420px;
      overflow: auto;
    }
    #pfname{
      // padding: 25px 5px;
      // border: 1px solid #eee;
      span{
        color: #153741;
        font-size: 21px;
        border-bottom: 3px solid #d7a322;
      }
    }
    #pfp{
      span:before{
        content: "\2022";
        color: #D5A235;
        font-weight: 900;
        font-size: 18px;
        line-height: 1.2px;
        display: inline-block;
        width: 1em;
        margin-left: 0em;
        margin-top: 1em;
      }
    }
    #popup{
      background: #000000c9;
      padding: 5px;
      .chat_section{
        background: #ffffff;
        .popup_header{ 
          height: 55px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          color: #fff;
          background:#d7a322; color:#fff;
          .close {
            position: absolute;
            right: 7px;
            width: 24px;
            height: 28px;
            opacity: 0.5;
          }
          .close:hover {
            opacity: 1;
          }
          .close:before, .close:after {
            position: absolute;
            right: 7px;
            content: ' ';
            height: 28px;
            width: 2px;
            background-color: #000;
          }
          .close:before {
            transform: rotate(45deg);
          }
          .close:after {
            transform: rotate(-45deg);
          }
    
        }
      }
    }
  
    .team-img{
      cursor: pointer;
    }
    // logos

    @mixin white-gradient {
      background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    }
    
    $animationSpeed: 40s;
    
    // Animation
    @keyframes scroll {
      0% { transform: translateX(0); }
      100% { transform: translateX(calc(-250px * 7))}
    }
    
    
    // Styling
    .logo{
        width: 15%;
        position: absolute;
        bottom: 0%;
      background: white;
      box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
      height: 70px;
        margin: auto;
        z-index: 99999;
        overflow:hidden;
        img{
            z-index: 9999999;
        height: 92px;
        margin-left: 70px;
        padding-bottom: 30px;
        }
    }
    @media only screen and (max-width: 800px) {
        .logo{
            width: 25% !important;
        }
      }
    .slider {
        // height: 8vh;
        width: 100%;
        position: absolute;
        bottom: 15%;
        z-index: 9;
      background: white;
      box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
      height: 70px;
      margin: auto;
      overflow:hidden;
      // position: relative;
      // width: 960px;
      
      &::before,
      &::after {
        @include white-gradient;
        content: "";
        height: 100px;
        position: absolute;
        width: 200px;
        z-index: 2;
      }
      
      &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
      }
    
      &::before {
        left: 0;
        top: 0;
      }
      
      .slide-track {
        animation: scroll $animationSpeed linear infinite;
        display: flex;
        width: calc(250px * 1);
      }
      
      .slide {
        height: 100px;
        width: 280px;
      }
    }