<div class="container-fluid" id="popup">
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="chat_section">
                <div class="popup_header">
                    <h6>THEME PAVILLION</h6>
                    <a class="close" (click)="closePopup()"></a>
                </div>
                <!-- <div style="-webkit-overflow-scrolling:touch !important; overflow:auto;"> -->
                <!-- <iframe style="width:100%" src="https://starmyanmar.multitvsolution.com/assets/iglobal/Exterior/iGlobal_Diwalifest_Agenda.pdf"
            height="550" frameborder='0'></iframe> -->
                <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../../../assets/reinvest/images/p1.jpeg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../../../assets/reinvest/images/p2.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../../../assets/reinvest/images/p3.jpeg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../../../assets/reinvest/images/p4.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../../../assets/reinvest/images/p5.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../../../assets/reinvest/images/p6.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../../../assets/reinvest/images/p7.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../../../assets/reinvest/images/p8.jpg" alt="Second slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">

                        <i class="fa fa-arrow-left" style="color: #fff; font-size: 22px;" aria-hidden="true"></i>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">

                        <i class="fa fa-arrow-right" style="color: #fff; font-size: 22px;" aria-hidden="true"></i>
                    </a>
                </div>

                <!-- <embed src="../../../assets/iglobal/ag1.jpg" style="width:100%" type="">
            <embed src="../../../assets/iglobal/ag2.jpg" style="width:100%" type="">
              <embed src="../../../assets/iglobal/ag3.jpg" style="width:100%" type=""> -->

                <!-- </div> -->
            </div>
        </div>
    </div>