#exhibtion_1, #exhibtion_3{
    position: absolute;
    top: 12.5%;
    height: 34vh;
    width: 16.8vw;    
    .one, .two, .three, .four, .five, .six, .seven, .eight, .nine{
        position: absolute;
        cursor: pointer;
        // background: black;
        height: 6.4vh;
        .pulsating-circle{
          position: absolute;
          top: 25%;
          left: 10%;
        }
    }
    .one, .three, .five, .seven, .nine{
        left: 0;
    }
    .two, .four, .six, .eight{
        left: 51%;
    }
    .one, .two{
        top: 0;
        width: 8.2vw;
    }
    .three, .four{
        top: 20%;
        width: 8.2vw;
    }
    .five, .six {
        top: 40%;
        width: 8.2vw;
        // background: black;    
    }
    .seven, .eight{
        top: 60%;
        width: 8.2vw;
        // background: black;    
    }
    .nine{
        top: 80%;
        width: 17.2vw;
        // background: black;    
    }
}
#exhibtion_1{
    left: 7%;
}

#exhibtion_1{
    position: absolute;
    top: 12.5%;
    height: 34vh;
    width: 16.8vw;  
}
.one{
    cursor: pointer;
    height: 6.4vh;
}


.fa, .fa-calendar{
    font-size:larger !important;
    color: darkcyan !important;
    font-weight: 700 !important;
}
body{
    white-space: pre-wrap;
}