

<section>
    <div id="content">
        <div id="content_wrap">
            <div id="bg">
                <img src="assets/reinvest/images/plenary.jpg" alt="">
            </div>
            <div id="exhibtion_1">
                <a href="https://calendar.google.com/calendar/r/eventedit?text=PLENARY+SESSION+1&dates=20201127T100000/20201127T113000&details" data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                <div class="one" (click)="showPlenaryPopup('one','Chief Ministers Plenary ','States have bigger role in achieving country’s ambitious target of Renewable Energy capacity addition.', 'Understanding the climate change concerns, many States have undertaken initiatives for adopting new policies and technologies for promotion of renewable energy at a much faster pace. Electricity being concurrent subject achieving Renewable Energy targets requires a strong collaboration between the Union and State Governments.', 

                'The purpose of this Session is to bring forth the policy leadership and the intent-worthiness of some of the Indian States in implementing a better RE landscape, and also to be a beacon for other states.',
                '',
                '• Setting the Context by Moderator: Mr Chandrajit Banerjee, Director General, Confederation of Indian Industry', 

                '• Keynote Address:  Mr R K Singh, Hon’ble Minister, of Power, New and Renewable Energy and Skills, GoI',
                
                'Panelists',
                    '• Shri Vijay Rupani , Hon`ble Chief Minister, Gujarat',
                    '• Shri Jai Ram Thakur, Hon`ble Chief Minister, Himachal Pradesh',
                    '• Shri Shivraj Singh Chouhan, Hon`ble Chief Minister, Madhya Pradesh',
                    '• Shri Ashok Gehlot, Hon`ble Chief Minister, Rajasthan',
                    '• Shri Yogi Adityanath, Hon`ble Chief Minister, UP',
                    '• Shri Biplab Kumar Deb, Hon`ble Chief Minister, Tripura',
                    '• Shri Radha Krishna Mathur, Hon`ble Lieutenant Governor, Ladakh',
                
                'Vote of Thanks');stepUpAnalytics('click_Plenary_one')">
                </div>
            </div>
            <div id="exhibtion_2">
                <a href="https://calendar.google.com/calendar/r/eventedit?text=PLENARY+SESSION+2&dates=20201127T133000/20201127T150000&details" data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                <div class="two" (click)="showPlenaryPopup('two','Renewable Energy: Creating Aatmanirbhar Bharat','The COVID-19 pandemic has brought disruptions in international trade and has woken up the world to a new reality towards the need to strengthen their in-house indigenous capabilities, despite all trade relations.', 'India’s RE sector, especially solar, has been heavily reliant on imports, mainly because of cost-competitiveness of such imported products so far.', 'However, Hon’ble Prime Minister’s vison of an Aatmanirbhar Bharat has geared up the country towards scaling up domestic manufacturing, through technology, financing and support.',
                 
                'This session would deliberate on the key opportunities and challenges in creating this Aatmanirbhar Bharat in renewable energy sector.',
                'Opening Remarks by Moderator: Mr Sameer Gupta, Chairman and Managing Director, Jakson',

                'Panelists',
                
                    '• Mr Tulsi Tanti,  Founder,  Chairman and Managing Director, Suzlon',
                    '• Mr Gyanesh Chaudhary, Chairman, Vikram Solar',
                    '• Mr Ramesh Nair,  Chief Executive Officer, Adani Solar PV Ltd',
                    '• Dr Hitesh Doshi,  Chairman, Waaree Energies Limited',
                    '• Mr Pradeep Kheruka,  Chairman, Borosil Renewables',
                    '• Mr D V Manjunatha,  Founder and Managing Director, Emmvee',
                    '• Prof Hari M Upadhyay,  Head, Advanced Materials Centre School of Engineering,  London South Bank University',
                    'Q&A',
                'Vote of Thanks');stepUpAnalytics('click_Plenary_two')">
                </div>
            </div>
            <div id="exhibtion_3">
                <a href="https://calendar.google.com/calendar/r/eventedit?text=PLENARY+SESSION+3&dates=20201128T100000/20201128T113000&details" data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                <div class="three" (click)="showPlenaryPopup('three','Future of RE ','
                Renewables are playing a major role in the global energy system and are witnessing technology and cost disruptions at unprecedented scales. Penetration of renewables will largely depend upon technologies and materials to support large scale expansion and ability of energy systems to successfully integrate renewables.In the recent past, innovations including next-generation solar cells, energy storage, hydrogen and fuel cells, flexible electricity grid have seen rapid developments. Ongoing efforts in technologies such as Artificial Intelligence, Internet of Things, 3-D printing and Blockchain are also likely to drive significant transformations of the energy systems in the coming years. In synergy with global development, India has undertaken planning for the next generation energy systems dominated by renewables, and efforts are towards creating partnerships for acquisition, diffusion and indigenization & absorption of knowledge, technology and skills by local actors in India.The session aims to facilitate exchange of updates on emerging global trends and insights for developing a strategy for India.',

'Discussion Points',
    '• Global technology trends',
    '• Outlook for renewables in coming decades',
    '• Emerging opportunities for India',
    '• Investment in new technologies',
    '• Possibilities of collaboration & partnerships',

'Opening Remarks by Moderator:  Prof. Ambuj  Sagar, Head, School of Public Policy, IIT Delhi',

'Panelists • Mr Indu Shekhar Chaturvedi, Secretary, MNRE',
    '• Dr Ajay Mathur, Director General, The Energy & Resources Institute (TERI)',
    '• Mr Rajit Gadh, Professor, Henry Samueli School of Engineering and Applied Science, UCLA',
    '• Dr Sunita Satyapal, Director, Fuel Cell Technologies Office, US Department of Energy',
    '• Dr Paolo Frankl, Head, Renewable Energy Division, International Energy Agency',
    '• Dr Anshu Bharadwaj, Chief Executive Officer, Shakti Sustainable Energy Foundation
    • Dr N Rajalakshmi, Team Leader, International Advanced Research Centre for Powder Metallurgy and New Materials',

'Vote of Thanks');stepUpAnalytics('click_Plenary_three')">
                </div>
            </div>
            <div id="exhibtion_4">
                <a href="https://calendar.google.com/calendar/r/eventedit?text=PLENARY+SESSION+4&dates=20201128T133000/20201128T150000&details" data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                <div class="four" (click)="showPlenaryPopup('four','Financing Renewables: Managing Risk','During the last few years, the global investment in renewable energy space remained at around US$300 billion. Though with decreasing cost of renewable energy technologies, capacity addition has gone up in renewables, globally.  If we have to shift to 1.5-degree scenario, the investment in renewables need to grow exponentially.To meet the above challenge, it is necessary to create financing eco-system for renewable energy. Therefore, this session will discuss the perspective with regard to allocation and re-cycling of capital investments, innovative financial models, plausible innovative finance framework to reach this goal.',  'The speakers’ perspective may vary across the globe depending upon government’s policy, regulatory framework, the stage of growth, maturity level and success of RE in various regions.','• Opening Remarks by Moderator: Shri Debasish Panda, Secretary, Department of Financial Services, Government of India',

                'Panelists',
                    '• Mr P K Das,   Chairman and Managing Director, IREDA',
                    '• Mr Sumant Sinha,    Chairman and Managing Director, ReNew Power',
                    '• Mr Bruce Hogg,  Managing Director & Global Head of Power & Renewables, Canada Pension Plan Investment Board',
                    '• Mr Simon Stolp, Lead, Energy Specialist, The World Bank',
                    '• Mr Priyantha Wijayatunga, Director, Energy Division of South Asia Department, Asian Development Bank',
                    '• Mr Abhishek Bansal, Director,  ACTIS',
                    '• Mr Sean Kidney, Co-founder and  Chief Executive Officer, Climate Bonds Initiative',
                    '• Mr Sridhar Rengan,  Managing Director-Finance,  Brookfield',
                    '• Mr Ravinder S Dhillon, Chairman & Managing Director, PFC',
                    '• Dr Charles W Donovan, Director, Centre for Climate Finance and Investment, Principal Teaching Fellow',
                
                
                'Vote of Thanks');stepUpAnalytics('click_Plenary_four')">
                </div>
            </div>
            <!-- <div id="player_sec">
                <vg-player>
                    <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">
                        <vg-play-pause></vg-play-pause>
                        <vg-time-display></vg-time-display>
                        <vg-playback-button></vg-playback-button>
                        <vg-mute></vg-mute>
                        <vg-volume></vg-volume>
                        <vg-fullscreen></vg-fullscreen>
                    </vg-controls>
                    <vg-buffering></vg-buffering>
                    <video #myMedia [vgMedia]="myMedia" preload="auto" [vgHls]="videoPlayer" autoplay="true"
                        vg-responsive="true" type="video/mp4">

                    </video>
                </vg-player>
            </div> -->
        </div>
    </div>
</section>
<div class="rightMenu">
    

    <!-- <ul class="list-unstyled">
        <li>
            <a data-toggle="modal" data-target=".ballroomQuestionModal"><img src="assets/icons/chat-h.png" alt="">
                <div>Ask Question</div>
            </a>
        </li>
    </ul> -->
    <!-- <ul class="list-unstyled">
        <li>
            <a data-toggle="modal" data-target=".quizModal"><img src="assets/icons/first-floor-h.png" alt="">
                <div>Quiz</div>
            </a>
        </li>
    </ul> -->
    <!-- <ul class="list-unstyled">
        <li>
            <a (click)="openGroupChat()"><img src="assets/icons/chat-h.png" alt="">
                <div>Group Chat</div>
            </a>
        </li>
    </ul> -->
      <!-- <ul class="list-unstyled">
              <li>
                  <a data-toggle="modal" data-target=".pollModal"><img src="assets/icons/navigation-h.png" alt="">
                      <div>Poll</div>
                  </a>
              </li>
          </ul> -->
      <!-- <ul class="list-unstyled">
              <li> <a data-toggle="modal" data-target=".feebackModal"><img src="assets/icons/contact-h.png" alt="">
                      <div>Feedback</div>
                  </a>
              </li>
          </ul> -->

</div>

<!-- groupchatOne Modal -->
<div class="modal fade groupchatOne" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
                <div class="container-fluid" id="popup">
                        <div class="row">
                          <div class="col-md-12 col-xl-12">
                            <div class="chat_section">
                              <div class="popup_header">
                                <h6>Group Chat</h6>
                                <a class="close" (click)="closePopup()"></a>
                              </div>
                              <div class="container-fluid" style="  background: #f2f4f7;">
                                <h6 style="text-align: center;"></h6>
                                <div class="row pt-2">
                                  <div class="col-md-12 col-xl-12 pl-0">
                                    <div class="chat_box">
                                      <ul class="chat_message" #scroller [scrollTop]="scroller.scrollHeight">
                                        <li class="user-profile-row" *ngFor="let user of messageList" id="user_row_500">
                                          <div class="user-profile-data">
                                              <div class="user-profile-image"> <img class="img-responsive user-profile-img" src="assets/img/user1.jpg"
                                                      width="32">
                                              </div>
                                              <div class="user-profile-info">
                                                  <p class="user-profile-name"><a href="javascript:void(0);">{{user.user_name}}</a></p>
                                                  <p class="user-profile-company">{{user.chat_data}}</p>
                                              </div>
                                          </div>
                      
                                      </li>
                                      </ul>
                                    </div>
                                    <div class="message_input">
                                        <textarea name="message" autocomplete="off" placeholder="Chat will be shown after moderation" [formControl]="textMessage" (keyup.enter)="postMessage(textMessage.value)" maxlength="200" type="text" id="query" value=""></textarea>
                                      </div>
                                      <button type="submit" class="btn borderBtn SubmitBut" style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;" (click)="postMessage(textMessage.value)">Send</button>
                                  </div>
                                  <!-- <div class="col-md-1 col-xl-1">
                                    <div class="online_chat"></div>
                                  </div> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
        </div>
    </div>
</div>


<div class="modal fade plenaryModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="container-fluid" id="plenarypopup">
                    <div class="row">
                        <div class="col-md-12 col-xl-12">
                            <div class="profile_section">
                                <div class="chat_section">
                                    <div class="popup_header">
                                        <!-- <h6 class="text-dark"><b>SPEAKERS</b></h6> -->
                                        <h5>Plenary Session</h5>
                                        <a class="close" (click)="closePlenaryPopup()"></a>
                                    </div>
                                    <div class="row mt-4 ml-2 mr-2 mb-2" id="setPopup">
                                        <div id="plenarypopupmsg">
                                            <h4 class="text-center">{{this.getHeading}}</h4>
                                            <p  style="height: 35vh;
                                            overflow-y: auto;">{{this.getDesc}}<br>{{this.getPort}}<br>{{this.getPort2}}<br>{{this.getPort3}}<br>{{this.getPort4}}<br>{{this.getPort5}}<br>{{this.getPort6}}<br>{{this.getPort7}}<br>{{this.getPort8}}<br>{{this.getPort9}}<br>{{this.getPort10}}<br>{{this.getPort11}}<br>{{this.getPort12}}<br>{{this.getPort13}}<br>{{this.getPort14}}<br>{{this.getPort15}}</p>
                                            <!-- <p>Are you Sure You want to continue session?</p> -->
                                            <div>
                                                <button class="btn" id="okbtn" (click)="navigate()">Join Now</button>
                                                <button class="btn btn-danger" (click)="closePlenaryPopup()">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
