<section>
  <div id="content">
      <div id="content_wrap">
          <div id="bg">
              <img src="assets/tie/images/Quantum_Sessions/day2.jpg" alt="">
             
          </div>
          <div style="position: absolute;
          top: 10%;
          left: 10%;
          cursor: pointer;
          height: 3vw;
          width: 4vw;
          " routerLink='/tech-five'>
             
          </div>
          <div style="position: absolute;
          top: 10%;
          left: 14%;
          cursor: pointer;
          height: 3vw;
          width: 4vw;
          " routerLink='/tech-six'>
             
          </div>
          <div style="position: absolute;
          top: 10%;
          left: 19%;
          cursor: pointer;
          height: 3vw;
          width: 4vw;
          " routerLink='/tech-seven'>
             
          </div>
          <div style="position: absolute;
          top: 10%;
          left: 23%;
          cursor: pointer;
          height: 3vw;
          width: 4vw;
         " routerLink='/tech-eight'>
             
          </div>
          <div style="position: absolute;
         top: 43%;
          left: 28%;
          cursor: pointer;
          height: 2vw;
          width: 4vw;
         " routerLink='/auditorium/two/118'>
             
          </div>
          <div style="position: absolute;
          top: 43%;
           left: 41%;
           cursor: pointer;
           height: 2vw;
           width: 4vw;
          " routerLink='/auditorium/two/123'>
              
           </div>
           <div style="position: absolute;
           top: 43%;
            left: 54%;
            cursor: pointer;
            height: 2vw;
            width: 4vw;
           " routerLink='/auditorium/two/129'>
               
            </div>
            <div style="position: absolute;
           top: 43%;
            left: 67%;
            cursor: pointer;
            height: 2vw;
            width: 4vw;
           " routerLink='/auditorium/two/130'>
               
            </div>
            <div class="slider">
                <div class="slide-track">
                    <div class="slide">
                        <img src="assets/tie/images/ticker/ticker.jpg"  alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/ticker_1.jpg" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/ticker.jpg"  alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/ticker_1.jpg" alt="" />
                    </div>
                    <!-- <div class="slide">
                        <img src="assets/tie/images/ticker/3.png" height="60" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/4.png" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/5.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/6.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/7.png" height="60" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/8.png" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/9.jpg" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/10.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/11.png" height="60" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/12.png" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/13.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/14.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/15.png" height="60" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/16.png" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/17.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/18.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/19.png" height="60" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/20.png" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/21.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/22.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/23.png" height="60" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/24.png" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/25.png" height="60" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/26.png" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/27.png" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/28.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/29.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/30.png" height="60" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/31.png" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/32.png" height="60" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/33.png" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/34.png" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/35.png" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/36.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/37.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/38.png" height="60" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/39.png" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/40.png" height="60" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/41.png" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/42.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/43.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/44.png" height="60" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/45.png" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/46.png" height="60" width="250" alt="" />
                    </div> -->
                    <!-- repeated stuff -->
                    <!-- <div class="slide">
                        <img src="assets/tie/images/ticker/1.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/2.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/3.png" height="60" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/4.png" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/5.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/6.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/7.png" height="60" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/8.png" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/9.jpg" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/10.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/11.png" height="60" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/12.png" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/13.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/14.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/15.png" height="60" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/16.png" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/17.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/18.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/19.png" height="60" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/20.png" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/21.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/22.png" height="60" width="170" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/23.png" height="60" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/24.png" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="assets/tie/images/ticker/25.png" height="60" width="250" alt="" />
                    </div> -->
                    <!-- <div class="slide">
                        <img src="../../../assets/reinvest/all-logo/02.jpg" height="60" width="170"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="../../../assets/reinvest/all-logo/03.jpg" height="60" width="250"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="../../../assets/reinvest/all-logo/04.jpg" height="60" width="200"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="../../../assets/reinvest/all-logo/05.jpg" height="60" width="200"
                            alt="" />
                    </div>
                    
                    <div class="slide">
                        <img src="../../../assets/reinvest/all-logo/07.jpg" height="60" width="150"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="../../../assets/reinvest/all-logo/08.jpg" height="60" width="150"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="../../../assets/reinvest/all-logo/09.jpg" height="60" width="200"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="../../../assets/reinvest/all-logo/06.jpg" height="60" width="310"
                            alt="" />
                    </div>
                    <div class="slide">
                        <img src="../../../assets/reinvest/all-logo/01.jpg" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="../../../assets/reinvest/all-logo/02.jpg" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="../../../assets/reinvest/all-logo/03.jpg" height="60" width="200" alt="" />
                    </div>
                    <div class="slide">
                        <img src="../../../assets/reinvest/all-logo/04.jpg" height="60" width="200" alt="" />
                    </div> -->

                    
                </div>
            </div>
      </div>
  </div>
</section>
