section{
    position: relative; 
    height: 100%;
    width: 100%;
    #clap{
      position: absolute;
      top: 19%; 
      right: 1%;
      z-index: 1000;
    }
    #content{
      position: relative;
      #content_wrap{
        position: relative;
        #bg{
          position: relative;
          width: 100%;
          height: 100%;
          display: block;
          img{
            width: 90vw;
            height: 100vh;
            margin-left: 70px;
          }
          
          #player_sec{
            position: absolute;
            top: 16.9%;
            left: 22.1%;
            margin-left: 70px;
                    vg-player{    
              width: 45.4vw;
              height: 49.5vh;
          
            }
          }
        }
      }
    }
  }