
<div style=" position: absolute;
top: 1%;
margin-left:10%;
z-index: 100;" *ngIf="liveMsg">
    <div class="alert alert-success " role="alert">
       <h6 style="color: black; font-weight: bold;"> {{brodMsg}}</h6>
    </div>
</div>

<!-- <div id="usermgmnt">
    <i class="fa fa-user-circle" (click)="showProfile()"></i>
    
    <ul id="profile" *ngIf="showpf">
        <li style="border-bottom: 1px solid #818181;" (click)="userStatus()">
            <i class="fa fa-circle" [ngStyle]="{'color':(ustatus==='online')? 'green': '#d7a322'}"></i>
            <span>Online</span>
        </li>
      
        <li (click)="userStatus()">
            <i class="fa fa-circle" [ngStyle]="{'color':(ustatus!=='online')? 'green': '#d7a322'}"></i>
         
            <span>Donot Disturb</span></li>
    </ul>
</div> -->
<!-- <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top p-0">
    <div class="container-fluid">
        <a class="navbar-brand text-success" [routerLink]="['/lobby']">
            <img src="assets/img/logo.png" alt="logo" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"></div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item pl-2"><a [routerLink]="['/lobby']"><i class="fa fa-fw fa-home"></i> Home</a></li>
                <li class="nav-item pl-2"><a href="" data-toggle="modal" data-target="#exampleModalLong"><i class="fa fa-fw fa-info-circle"></i>
                        Information</a></li>
                
            </ul>
            <div class="col-md-2 text-right pr-5" id="icon-right">
                <li>
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-fw fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="left:14px">
                        <a class="dropdown-item" nhref="#">{{firstName}}</a>
                        
                    </div>
                </li>
               
                <li class="pr-2">
                    <a class="nav-link" (click)="logout()" title="Logout" role="button">
                        <i class="fa fa-sign-out" id="logout"></i>
                    </a>
                </li>

            </div>
        </div>
    </div>
</nav> -->
<!-- <span id="signout">
    <a class="nav-link sign" (click)="logout(); stepUpAnalytics('click_Logout')" title="Logout" role="button">
        Logout</a>
</span> -->
<div class="sidenav2">
    <ul id="sidenavList">
        <li>
            <a [routerLink]="['/lobby']" (click)="stepUpAnalytics('click_lobby')"><img src="../../assets/reinvest/icons/Reception.png" alt="">
                <div>LOBBY</div>
            </a>
        </li>
        <li>
            <a data-target=".AgendaModal" data-toggle="modal" (click)="stepUpAnalytics('click_agenda')"><img src="../../assets/reinvest/icons/Agenda.png" alt="">
                <div>AGENDA</div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/plenary-four']" (click)="stepUpAnalytics('click_phoenix')"><img src="../../assets/reinvest/icons/Inaugural.png" alt="">
                <div>Phoenix</div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/tech-four']" (click)="stepUpAnalytics('click_infinity')"><img src="../../assets/reinvest/icons/Plenary.png" alt="">
                <div>Infinity</div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/tech-eight']" (click)="stepUpAnalytics('click_quantum')"><img src="../../assets/reinvest/icons/Technical.png" alt="">
                <div>Quantum</div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/tech-twelve']" (click)="stepUpAnalytics('click_lounge')"><img src="../../assets/reinvest/icons/Rennovate.png" alt="">
                <div>Lounge</div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/tech-fifteen']" (click)="stepUpAnalytics('click_pitchfest')"><img src="../../assets/reinvest/icons/Partners.png" alt="">
                <div>PitchFest</div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/partners']" (click)="stepUpAnalytics('click_partners')"><img width="20px" src="assets/reinvest/icons/v.jpeg" alt="">
                <div>Partners</div>
            </a>
        </li>
    </ul>
</div>
<div class="sidenav3">
    <ul id="sidenavList">
        <li>
            <a [routerLink]="['/exhibitionHall']" (click)="stepUpAnalytics('click_exhibition')"><img src="../../assets/reinvest/icons/Exhibition.png"
                    alt=""><br>
                    Exhibition Area
            </a>
            <!-- <a data-toggle="modal" data-target=".disableModal"><img src="../../assets/reinvest/icons/Exhibition.png"
                    alt="">
                <div>EXHIBITIONS</div>
            </a> -->
        </li>
        <li>
            <a [routerLink]="['/networkingLounge']" (click)="stepUpAnalytics('click_networkinglounge')"><img src="../../assets/reinvest/icons/B2B.png" alt="">
                <div>Networking Lounge</div>

            </a>
            <!-- <a data-toggle="modal" data-target=".disableB2B"><img src="../../assets/reinvest/icons/B2B.png"
                alt="">
                <div></div>
            B2B
        </a> -->
        </li>
        <!-- <li>
            <a routerLink="/profiles" (click)="stepUpAnalytics('Dashboard')"><img src="../../assets/acma/icons/02.png" alt="">
                DASHBOARD
            </a>
        </li> -->
        <!-- <li>
            <a href="https://re-invest.in/speakers/" target="_blank" (click)="stepUpAnalytics('click_Speakers')"><img src="../../assets/reinvest/icons/Speakers.png" alt="">
                <div>SPEAKERS</div>

            </a>
        </li> -->
        <li>
            <a [routerLink]="['/appointments']" (click)="stepUpAnalytics('click_appointments')"><img src="assets/reinvest/icons/03.png" alt="">
                <div>MY APPOINTMENTS</div>
                <!-- <span style="font-size: 7px;"></span> -->
            </a>
        </li>
        <li>
            <a data-toggle="modal" data-target=".attendeesModal" (click)="stepUpAnalytics('click_attendee')"><img src="../../assets/reinvest/icons/Attendees.png"
                    alt="">
                <div>ATTENDEES</div>

            </a>
        </li>
        <!-- <li>
            <a data-toggle="modal" data-target=".briefcaseModal" (click)="stepUpAnalytics('Agenda')"><img src="../../assets/reinvest/icons/Library.png"
                    alt="">
                    <div></div>
                LIBRARY / MEDIA
            </a>
        </li> -->

        <!-- <li>
            <a data-toggle="modal" data-target=".faqModal" (click)="stepUpAnalytics('Faq')"><img src="../../assets/acma/icons/06.png" alt="">
                FAQ
            </a>
        </li> -->
        <!-- <li>
            <a (click)="audi2(); stepUpAnalytics('click_Auditorium_2')"><img src="assets/icons/first-floor.png" alt="">
                Audi 2
            </a>
        </li>
        <li>
            <a (click)="audi3(); stepUpAnalytics('click_Auditorium_3')"><img src="assets/icons/first-floor.png" alt="">
                Audi 3
            </a>
        </li>
        <li>
            <a (click)="audi4(); stepUpAnalytics('click_Auditorium_4')"><img src="assets/icons/first-floor.png" alt="">
                Audi 4
            </a>
        </li> -->
        <!-- <li>
            <a [routerLink]="['/exhibitionHall']" (click)="stepUpAnalytics('click_exhibition')"><img src="assets/icons/exhibition.png" alt="">
                Exhibition1
            </a>
        </li>
        <li>
            <a [routerLink]="['/exhibitionHall/exhibition2']" (click)="stepUpAnalytics('click_exhibition')"><img src="assets/icons/exhibition.png" alt="">
                Exhibition2
            </a>
        </li>
        <li>
            <a [routerLink]="['/exhibitionThree']" (click)="stepUpAnalytics('click_exhibition')"><img src="assets/icons/exhibition.png" alt="">
                Exhibition3
            </a>
        </li> -->
        <!-- <li>
            <a [routerLink]="['/networkingLounge']" (click)="stepUpAnalytics('click_Networking')"><img src="assets/icons/Exhibitors.png" alt="">
                Networking
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".faqModal"><img src="../../assets/icons/file.png" alt="">
                FAQs
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".wtsappModal" (click)="stepUpAnalytics('Feedback')"><img src="../../assets/acma/icons/07.png" alt="" style="width:30px;">
                FEEDBACK
            </a>
        </li> -->
        <li>
            <a [routerLink]="['/welcome']" routerLinkActive="linkActive"><img src="../../assets/reinvest/icons/Support.png"
                    alt="" (click)="stepUpAnalytics('click_helpdesk')">
                <div>SUPPORT</div>

            </a>
        </li>
        <!-- <li>
            <a data-toggle="modal" data-target=".heightlightModal" (click)="stepUpAnalytics('About_acma')"><img src="../../assets/acma/icons/09.png" alt="">
                ABOUT ACMA
            </a>
        </li> -->
        <li>
            <a class="nav-link sign" (click)="logout();stepUpAnalytics('click_logout') " title="Logout" role="button"><img src="../../assets/reinvest/icons/Logout.png"
                    alt="">
                <div>LOGOUT</div>
            </a>
        </li>
        <!-- <li>
            <a [routerLink]="['/capturePhoto']" (click)="stepUpAnalytics('click_Photobooth')"><img src="assets/icons/user.png" alt="">
                Selfie Booth
            </a>
        </li> -->

    </ul>
</div>
<div id="sidebar">
    <div id="mySidenav" class="sidenav" style="width: 70px !important;">
        <!-- <a href="javascript:void(0)" class="closebtn" (click)="closeSidebar()">&times;</a> -->
        <ul id="sidenavList">
            <li>
                <a data-toggle="modal" data-target=".exDirectory"><img src="../../assets/reinvest/icons/Exhibition.png"
                        alt=""><br>
                    EXHIBITIONS
                </a>
            </li>
            <li>
                <a [routerLink]="['/networkingLounge']"><img src="../../assets/reinvest/icons/B2B.png" alt=""><br>
                    B2B
                </a>
            </li>
            <!-- <li>
                <a routerLink="/profiles" (click)="stepUpAnalytics('Dashboard')"><img src="../../assets/acma/icons/02.png" alt="">
                    DASHBOARD
                </a>
            </li> -->
            <li>
                <a [routerLink]="['/agenda']"><img src="../../assets/reinvest/icons/Speakers.png" alt=""><br>
                    SPEAKERS
                </a>
            </li>
            <li>
                <a [routerLink]="['/appointments']"><img src="assets/reinvest/icons/03.png" alt=""><br>
                    MY APPOINTMENTS
                </a>
            </li>
            <li>
                <a data-toggle="modal" data-target=".attendeesModal"><img src="../../assets/reinvest/icons/Attendees.png"
                        alt=""><br>
                    ATTENDEES
                </a>
            </li>
            <li>
                <a [routerLink]="['/agenda']"><img src="../../assets/reinvest/icons/Library.png" alt=""><br>
                    LIBRARY / MEDIA
                </a>
            </li>

            <!-- <li>
                <a data-toggle="modal" data-target=".faqModal" (click)="stepUpAnalytics('Faq')"><img src="../../assets/acma/icons/06.png" alt="">
                    FAQ
                </a>
            </li> -->
            <!-- <li>
                <a (click)="audi2(); stepUpAnalytics('click_Auditorium_2')"><img src="assets/icons/first-floor.png" alt="">
                    Audi 2
                </a>
            </li>
            <li>
                <a (click)="audi3(); stepUpAnalytics('click_Auditorium_3')"><img src="assets/icons/first-floor.png" alt="">
                    Audi 3
                </a>
            </li>
            <li>
                <a (click)="audi4(); stepUpAnalytics('click_Auditorium_4')"><img src="assets/icons/first-floor.png" alt="">
                    Audi 4
                </a>
            </li> -->
            <!-- <li>
                <a [routerLink]="['/exhibitionHall']" (click)="stepUpAnalytics('click_exhibition')"><img src="assets/icons/exhibition.png" alt="">
                    Exhibition1
                </a>
            </li>
            <li>
                <a [routerLink]="['/exhibitionHall/exhibition2']" (click)="stepUpAnalytics('click_exhibition')"><img src="assets/icons/exhibition.png" alt="">
                    Exhibition2
                </a>
            </li>
            <li>
                <a [routerLink]="['/exhibitionThree']" (click)="stepUpAnalytics('click_exhibition')"><img src="assets/icons/exhibition.png" alt="">
                    Exhibition3
                </a>
            </li> -->
            <!-- <li>
                <a [routerLink]="['/networkingLounge']" (click)="stepUpAnalytics('click_Networking')"><img src="assets/icons/Exhibitors.png" alt="">
                    Networking
                </a>
            </li> -->
            <!-- <li>
                <a data-toggle="modal" data-target=".faqModal"><img src="../../assets/icons/file.png" alt="">
                    FAQs
                </a>
            </li> -->
            <!-- <li>
                <a data-toggle="modal" data-target=".wtsappModal" (click)="stepUpAnalytics('Feedback')"><img src="../../assets/acma/icons/07.png" alt="" style="width:30px;">
                    FEEDBACK
                </a>
            </li> -->
            <li>
                <a [routerLink]="['/welcome']" routerLinkActive="linkActive"><img src="../../assets/reinvest/icons/Support.png"
                        alt=""><br>
                    SUPPORT
                </a>
            </li>
            <!-- <li>
                <a data-toggle="modal" data-target=".heightlightModal" (click)="stepUpAnalytics('About_acma')"><img src="../../assets/acma/icons/09.png" alt="">
                    ABOUT ACMA
                </a>
            </li> -->
            <li>
                <a class="nav-link sign" (click)="logout();" title="Logout" role="button"><img src="../../assets/reinvest/icons/Logout.png"
                        alt=""><br>
                    LOGOUT</a>
            </li>
            <!-- <li>
                <a [routerLink]="['/capturePhoto']" (click)="stepUpAnalytics('click_Photobooth')"><img src="assets/icons/user.png" alt="">
                    Selfie Booth
                </a>
            </li> -->

        </ul>
    </div>
    <div id="hamburger" (click)="openSidebar()">&#9776;</div>
</div>
<main [@fadeAnimation]="getRouterOutletState(o)">
    <router-outlet #o="outlet"></router-outlet>
    <!-- <div [ngStyle]="{'display':landscape?'none':'block'}">
        <div id="potrait">
            <img src="../../assets/img/rotate.gif" alt="">
            <p>Switch to Landscape view</p>
        </div>
    </div>
    <div [ngStyle]="{'display':landscape?'block':'none'}">
        <router-outlet #o="outlet"></router-outlet>
    </div> -->
</main>
<div class="footer-nav">
    <ul class="footer-nav1">
        <li>
            <a [routerLink]="['/lobby']"><img src="assets/acma/icons/01.png" alt="">
                <div>LOBBY</div>
            </a>
        </li>
        <!-- <li>
            <a [routerLink]="['/auditorium/left']" routerLinkActive="linkActive"><img [src]="(router.url==='/auditorium/left')? '../../assets/icons/Auditorium-h.png': '../../assets/icons/Auditorium.png'"
                    alt="">
                <div>Auditorium</div>
            </a>
        </li> -->
        <li>
            <a routerLink="/profiles"><img src="../../assets/acma/icons/02.png" alt="">
                <div>DASHBOARD</div>
            </a>
        </li>
        <li>
            <a (click)="audi1(); "><img src="assets/acma/icons/03.png" alt="">
                <div>CONFERENCE</div>
            </a>
        </li>
        <li>

            <a [routerLink]="['/agenda']"><img src="../../assets/acma/icons/04.png" alt="">
                <div>AGENDA</div>
            </a>
        </li>
        <li>
            <a data-toggle="modal" data-target=".exDirectory"><img src="../../assets/acma/icons/05.png" alt="">
                <div>EXHIBITOR SEARCH</div>
            </a>
        </li>
        <!-- <li>
            <a data-toggle="modal" data-target=".faqModal" (click)="stepUpAnalytics('Faq')"><img src="../../assets/acma/icons/06.png" alt="">
                <div>FAQ</div>
            </a>
        </li> -->
        <li>
            <a data-toggle="modal" data-target=".wtsappModal"><img src="../../assets/acma/icons/07.png" alt="">
                <div>FEEDBACK</div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/welcome']" routerLinkActive="linkActive"><img src="../../assets/acma/icons/08.png" alt="">
                <div>HELP DESK</div>
            </a>
        </li>
        <li>
            <a data-toggle="modal" data-target=".heightlightModal"><img src="../../assets/acma/icons/09.png" alt="">
                <div>ABOUT ACMA</div>
            </a>
        </li>
        <!-- <li>
            <a (click)="audi2(); stepUpAnalytics('click_Auditorium_2')"><img src="assets/icons/first-floor.png" alt="">
                <div>Audi 2</div>
            </a>
        </li>
        <li>
            <a (click)="audi3(); stepUpAnalytics('click_Auditorium_3')"><img src="assets/icons/first-floor.png" alt="">
                <div>Audi 3</div>
            </a>
        </li>
        <li>
            <a (click)="audi4(); stepUpAnalytics('click_Auditorium_4')"><img src="assets/icons/first-floor.png" alt="">
                <div>Audi 4</div>
            </a>
        </li> -->
        <!-- <li>
            <a [routerLink]="['/exhibitionHall']" (click)="stepUpAnalytics('click_exhibition')"><img src="assets/icons/exhibition.png" alt="">
                <div>Exhibition1</div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/exhibitionHall/exhibition2']" (click)="stepUpAnalytics('click_exhibition')"><img src="assets/icons/exhibition.png" alt="">
                <div>Exhibition2</div>
            </a>
        </li>
        <li>
            <a [routerLink]="['/exhibitionThree']" (click)="stepUpAnalytics('click_exhibition')"><img src="assets/icons/exhibition.png" alt="">
                <div>Exhibition3</div>
            </a>
        </li> -->

        <!-- <li>
            <a [routerLink]="['/meetingRoom']" routerLinkActive="linkActive"><img [src]="(router.url==='/meetingRoom')?'../../assets/icons/Meeting-Rooms-h.png': '../../assets/icons/Meeting-Rooms.png'"
                    alt="">
                <div>Meeting Room</div>
            </a>
        </li> -->
        <!-- <li>
            <a [routerLink]="['/networkingLounge']" (click)="stepUpAnalytics('click_Networking')"><img src="assets/icons/Exhibitors.png" alt="">
                <div>Networking</div>
            </a>
        </li> -->
        <!-- <li>
            <a [routerLink]="['/briefcase']" routerLinkActive="linkActive"><img [src]="(router.url==='/briefcase')?'assets/icons/Briefcase-h.png': 'assets/icons/Briefcase.png'"
                    alt="">
                <div>Briefcase</div>
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".heightlightModal"><img src="assets/icons/Briefcase.png" alt="">
                <div>Highlights</div>
            </a>
        </li> -->

        <!-- <li>
            <a [routerLink]="['/games']">
                <i class='fa fa-gamepad'></i>
                <div>Games</div>
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".briefcaseModal"><img src="assets/icons/user.png" alt="">
                <div>Briefcase</div>
            </a>
        </li> -->


        <!-- <li>
            <a [routerLink]="['/capturePhoto']" (click)="stepUpAnalytics('click_Photobooth')"><img src="assets/icons/user.png" alt="">
                <div>Selfie Booth</div>
            </a>
        </li> -->

        <!-- <a [routerLink]="['/attendees']" routerLinkActive="linkActive"><img [src]="(router.url==='/attendees')?'../../assets/icons/user-h.png': '../../assets/icons/user.png'"
                    alt="">
                <div>Attendees</div>
            </a> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".attendeesModal"><img src="assets/icons/user.png" alt="">
                <div>Attendees</div>
            </a>
        </li> -->
        <!-- <li>

            <a data-toggle="modal" data-target=".chatsModal"><img src="../../assets/icons/chat.png" alt="">
                <div>Chats</div>
            </a>
        </li> -->
        <!-- <li>

            <a data-toggle="modal" data-target=".myContactsModal"><img src="../../assets/icons/contact.png" alt="">
                <div>My Contacts</div>
            </a>
        </li> -->
        <!-- <li>

            <a data-toggle="modal" data-target=".feebackModal"><img src="../../assets/icons/contact.png" alt="">
                <div>Feedback</div>
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".liveQuestionModal"><img src="../../assets/icons/chat.png" alt="">
                <div>Ask Question</div>
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" data-target=".pollModal"><img src="../../assets/icons/navigation.png" alt="">
                <div>Poll</div>
            </a>
        </li> -->
        <!-- <li>
            <a data-toggle="modal" (click)="showCapture()"><img src="../../assets/icons/user.png" alt="">
                <div>Take Pic</div>
            </a>
        </li> -->

    </ul>

</div>

<!-- Information Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Profile Modal -->
<div class="modal fade visitor_manual" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-profile></app-profile>
        </div>
    </div>
</div>

<!-- attendees Modal -->
<div class="modal fade attendeesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-attendees></app-attendees>
        </div>
    </div>
</div>

<!-- agenda Modal -->
<div class="modal fade AgendaModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <app-agenda></app-agenda>
        </div>
    </div>
</div>
<div class="modal fade disableModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <app-disable></app-disable>
        </div>
    </div>
</div>
<div class="modal fade disableB2B" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>NOTIFICATIONS</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="row ml-2 mr-2 mb-2 text-center bg-white">
                                <h2>B2B will go live on 26th November.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade exDirectory" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <app-exhibitor-directory></app-exhibitor-directory>
        </div>
    </div>
</div>
<!-- lobby standees -->
<div class="modal fade acma1Modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <app-acma1></app-acma1>
        </div>
    </div>
</div>

<div style="z-index: 999999;" class="modal fade pavillionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-pavillion></app-pavillion>
        </div>
    </div>
</div>


<div class="modal fade acma2Modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <app-acma2></app-acma2>
        </div>
    </div>
</div>
<div class="modal fade acma3Modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <app-acma3></app-acma3>
        </div>
    </div>
</div>
<div class="modal fade acma4Modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <app-acma4></app-acma4>
        </div>
    </div>
</div>
<!-- lobby standees over -->

<div class="modal fade faqModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-faqs></app-faqs>
        </div>
    </div>
</div>
<div class="modal fade profile" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-visitor-dashboard></app-visitor-dashboard>
        </div>
    </div>
</div>
<div class="modal fade heightlightModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-heightlight></app-heightlight>
        </div>
    </div>
</div>
<!-- Chats Modal -->
<div class="modal fade chatsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-chats></app-chats>
        </div>
    </div>
</div>
<!-- Audi Modal -->
<div class="modal fade audiModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <app-active-audi></app-active-audi>
        </div>
    </div>
</div>
<!-- Briefcase Modal-->
<div class="modal fade briefcaseModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-briefcase-docs></app-briefcase-docs>
        </div>
    </div>
</div>
<!-- GroupChat Modal -->
<div class="modal fade groupchatsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-group-chat></app-group-chat>
        </div>
    </div>
</div>

<!-- GroupChat Modal -->
<div class="modal fade groupchatsModalTwo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-group-chat-two></app-group-chat-two>
        </div>
    </div>
</div>

<!-- GroupChat Modal -->
<div class="modal fade groupchatsModalThree" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-group-chat-three></app-group-chat-three>
        </div>
    </div>
</div>

<!-- GroupChat Modal -->
<div class="modal fade groupchatsModalFour" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-group-chat-four></app-group-chat-four>
        </div>
    </div>
</div>

<!-- MyContacts Modal -->
<div class="modal fade myContactsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-my-contacts></app-my-contacts>
        </div>
    </div>
</div>

<div class="modal fade feebackModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <app-my-feedback></app-my-feedback>
        </div>
    </div>
</div>
<!-- LiveQuestion Modal -->
<div class="modal fade liveQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-question></app-question>
        </div>
    </div>
</div>
<!-- BallroomQuestion Modal -->
<div class="modal fade ballroomQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-ballroom-question></app-ballroom-question>
        </div>
    </div>
</div>
<div class="modal fade ballroomQuestionModalTwo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-ballroom-two></app-ballroom-two>
        </div>
    </div>
</div>
<div class="modal fade ballroomQuestionModalThree" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-ballroom-three></app-ballroom-three>
        </div>
    </div>
</div>
<div class="modal fade ballroomQuestionModalFour" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-ballroom-four></app-ballroom-four>
        </div>
    </div>
</div>
<!-- LivePoll Modal -->
<div class="modal fade pollModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-poll></app-poll>
        </div>
    </div>
</div>
<!-- LivePoll Modal Four-->
<div class="modal fade pollModalFour" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-poll-four></app-poll-four>
        </div>
    </div>
</div>
<!-- LivePoll Modal Three-->
<div class="modal fade pollModalThree" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-poll-three></app-poll-three>
        </div>
    </div>
</div>
<!-- LivePoll Modal Two-->
<div class="modal fade pollModalTwo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-poll-two></app-poll-two>
        </div>
    </div>
</div>
<!-- wtsapp Modal -->
<div class="modal fade wtsappModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <app-wtspp-file></app-wtspp-file>
        </div>
    </div>
</div>

<!-- DoCs-Info -->
<!-- <div class="modal fade docsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-docs-info></app-docs-info>
        </div>
    </div>
</div> -->

<!-- Sales-Info -->
<!-- <div class="modal fade salesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-sales-info></app-sales-info>
        </div>
    </div>
</div> -->
<!-- Sales-Info -->
<!-- <div class="modal fade scheduleCallmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-schedule-call></app-schedule-call>
        </div>
    </div>
</div> -->

<!-- capturePhoto Modal -->
<div class="modal fade capturePhoto" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button style="padding:5px; outline:none" type="button" class="close text-right" (click)="closeCamera()">
                <span aria-hidden="true" class="text-dark">&times;</span>
            </button>
            <!-- <app-capture-photo ></app-capture-photo> -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="vh-100">
                            <div class="d-flex flex-column align-items-center">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="p-1" [ngStyle]="{'display':showImage? 'none': 'block'}">
                                            <video #video class="vid videoData" autoplay></video>

                                            <img style="position: absolute;top:25px;left:37px;" id="logo" src="assets/img/logo.png" />

                                            <!-- <video id="vid"></video>

                                            <br /><br />
                                            <button>take a snapshot</button> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="p-2" *ngIf="!showImage">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <img src="assets/img/camera.png" width="50" style="cursor: pointer" (click)="capture()"
                                                alt="">
                                            <!-- <button class="btn btn-primary" (click)="capture()">Capture Image</button> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="p-1" [ngStyle]="{'display':showImage? 'block': 'none'}">
                                    <!-- <img id="scream" width="20" height="27" src="../../../assets/img/xtrem.jpeg" alt="The Scream"> -->
                                    <canvas #canvas id="canvas" class="vid"></canvas>
                                    <div class="text-center p-2">
                                        <a href="{{img}}" download="screenshot.jpg"><img src="assets/img/download.png"
                                                width="50" alt="" (click)="stopVideo()"></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>