<div class="container-fluid" id="popup">
    <div class="row">
      <div class="col-md-12 col-xl-12">
        <div class="chat_section">
          <div class="popup_header">
            <h6>BIO ENERGY</h6>
            <a class="close" (click)="closePopup()"></a>
          </div>
          <embed src="../../../assets/reinvest/images/bio.jpeg" type="" width="100%">
        </div>
      </div>
    </div>
  