<div id="successMsg" *ngIf="successMsg">
    Registration Done Successfully
</div>
<div id="failedMsg" *ngIf="failedMsg">
    {{msg}}
</div>
<div class="container-fluid">
    <div id="bg">
        <img src="assets/signup.jpg" alt="">

    </div>
    <div id="loginSection">

        <div class="row">

            <section class="card col-md-4 mt-3 mb-3 col-sm-6">
                <article class="card__body">
                    <!-- <p id="demo" class="card__text"></p> -->

                </article>
                <div class="login-wrapper">
                    <h1 class="login-title"><a style="text-align: center; text-decoration: none; color: black;" routerLink="/signup">Registration Form</a></h1>
                    <!-- <p id="demo"></p> -->

                    <!-- <h1 class="login-title"><span><a style="text-decoration: none; color: white;" routerLink="/signup">Sign
                                Up</a></span></h1>
                    <div *ngIf="invalidBoolean" style="color: red;
                    font-size: 14px;
                    text-align: center;
                    font-weight: 800;
                    /* background: #ce2222; */
                    height: 36px;
                    line-height: 15px;
                    border-radius: 3px;
                ">
                        {{invalidMessage}}
                        <h1 style="font-size: small; color: red;" class="login-title">{{invalidphone}}</h1> 
                    </div> -->

                    <form [formGroup]="signupForm" #formDir="ngForm" (ngSubmit)="register(formDir)"
                        style="position: relative;">
                        <div class="form-group">
                            <label for="f_name" style="color: black;">First Name</label>
                            <input type="text" style="background-color: white;" class="form-control" required
                                autocomplete="off" formControlName="f_name" placeholder="Enter your first name">
                            <h6 style="color: crimson;font-size: 12px;"
                                *ngIf="(signupForm.get('f_name').invalid && formDir.submitted) || (signupForm.get('f_name').dirty && signupForm.get('f_name').invalid)">
                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                First name is required*
                            </h6>
                        </div>
                        <div class="form-group">
                            <label for="l_name" style="color: black;">Last Name</label>
                            <input type="text" style="background-color: white;" class="form-control" required
                                autocomplete="off" formControlName="l_name" placeholder="Enter your last name">
                                <h6 style="color: crimson;font-size: 12px;"
                                *ngIf="(signupForm.get('l_name').invalid && formDir.submitted) || (signupForm.get('l_name').dirty && signupForm.get('l_name').invalid)">
                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                Last name is required*
                            </h6>
                            </div>

                        <div class="form-group">
                            <label for="email" style="color: black;">Email</label>
                            <input type="email" style="background-color: white;" class="form-control" required
                                autocomplete="off" formControlName="email" placeholder="Enter your email">
                                <h6 style="color: crimson;font-size: 12px;"
                      *ngIf="(signupForm.get('email').invalid && formDir.submitted) || (signupForm.get('email').dirty && signupForm.get('email').invalid)">
                      Email is required*
                    </h6>
                        </div>
                        <div class="form-group">

                            <label for="designation" style="color: black;">Designation</label>
                            <input type="text" style="background-color: white;" class="form-control" required
                                autocomplete="off" formControlName="designation" placeholder="Enter your designation">
                                <h6 style="color: crimson;font-size: 12px;"
                                *ngIf="(signupForm.get('designation').invalid && formDir.submitted) || (signupForm.get('designation').dirty && signupForm.get('designation').invalid)">
                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                Designation is required*
                            </h6>
                        </div>
                        <div class="form-group">
                            <label for="company" style="color: black;">Company Name</label>
                            <input type="text" style="background-color: white;" class="form-control" required
                                autocomplete="off" formControlName="company_name" placeholder="Enter your company">
                                <h6 style="color: crimson;font-size: 12px;"
                                *ngIf="(signupForm.get('company_name').invalid && formDir.submitted) || (signupForm.get('company_name').dirty && signupForm.get('company_name').invalid)">
                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                Company is required*
                            </h6>
                        </div>
                        <div class="form-group">
                            <label for="mobile" style="color: black;">Mobile Number</label>
                            <input type="text" style="background-color: white;" class="form-control" required
                                autocomplete="off" (keypress)="allowNumber($event.target.value)" maxlength="10"
                                formControlName="mobile" placeholder="Enter your mobile">
                                <h6 style="color: crimson;font-size: 12px;"
                                *ngIf="(signupForm.get('mobile').invalid && formDir.submitted) || (signupForm.get('mobile').dirty && signupForm.get('mobile').invalid)">
                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                Mobile number is required*
                            </h6>  
                        </div>



                        <div class="form-group">
                            <label for="city" style="color: black;">City</label>
                            <input type="text" style="background-color: white;" class="form-control" required
                                autocomplete="off" formControlName="city" placeholder="Enter your city">
                                <h6 style="color: crimson;font-size: 12px;"
                                *ngIf="(signupForm.get('city').invalid && formDir.submitted) || (signupForm.get('city').dirty && signupForm.get('city').invalid)">
                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                City is required*
                            </h6>
                        </div>
                        <div class="form-group">
                            <label for="gender" style="color: black;">Which of the following most accurately describe(s)
                                you</label><br />
                            <input type="radio" formControlName="gender" name="gender" value="male"><span>Male</span>
                            <input type="radio" formControlName="gender" name="gender" value="female"><span>
                                Female</span>
                            <input type="radio" formControlName="gender" name="gender" value="other"><span> I Prefer Not
                                To
                                Say</span>
                                <h6 style="color: crimson;font-size: 12px;"
                                *ngIf="(signupForm.get('gender').invalid && formDir.submitted) || (signupForm.get('gender').dirty && signupForm.get('gender').invalid)">
                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                Gender is required*
                            </h6>
                        </div>

                        <div class="form-group">
                            <label for="is_founded" style="color: black;">Is your startup Founded or Co-founded by a
                                Woman</label><br />
                            <input type="radio" formControlName="is_founded" name="is_founded" value="0"><span>
                                Yes</span>
                            <input type="radio" formControlName="is_founded" name="is_founded" value="1"><span>
                                No</span>
                                <h6 style="color: crimson;font-size: 12px;"
                                *ngIf="(signupForm.get('is_founded').invalid && formDir.submitted) || (signupForm.get('is_founded').dirty && signupForm.get('is_founded').invalid)">
                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                Field is required*
                            </h6>
                        </div>

                        <div class="form-group">
                            <p style="margin-bottom:0rem !important;font-weight: bold; color: #000;
                            padding: 10px;text-align: left; font-size: 12px "> I would like TiE Delhi-NCR to provide my
                                contact
                                information to <a style="color: red;"
                                    href="https://aws.amazon.com/legal/marketingentities/" target="_blank"
                                    rel="noopener noreferrer">Amazon Web Services</a> (AWS) so AWS can share
                                the latest AWS news and offers with me by email, post or telephone. You may unsubscribe
                                from
                                receiving news and offers from AWS at any time by following the instructions in the
                                communications received. AWS handles your information as described in the <a
                                    style="color: red;" href="https://aws.amazon.com/privacy/" target="_blank"
                                    rel="noopener noreferrer">AWS Privacy Notice.</a> </p>
                            <input type="radio" id="yes" name="policy" formControlName="policy" value="0"><span> Yes
                            </span>
                            <input type="radio" id="no" name="policy" formControlName="policy" value="1"><span> No
                            </span>
                            <h6 style="color: crimson;font-size: 12px;"
                                *ngIf="(signupForm.get('policy').invalid && formDir.submitted) || (signupForm.get('policy').dirty && signupForm.get('policy').invalid)">
                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                Field is required*
                            </h6>
                        </div>

                        <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Register">
                    </form>
                    <!-- <h6 class="text-right" style="font-size: small; color: black;font-weight: 800;">(if registered already)  <a style="text-decoration: none;" routerLink='/login'>LOGIN HERE</a></h6> -->
                </div>
                <!-- <footer class="card__footer footer__bg">
                  <img class="card__thumb thumb__bdr" src="tie.png" alt="Profile Picture" />
                  <h2 class="card__p-name">India Internet Day 2021</h2>
                </footer> -->
            </section>


        </div>
    </div>
</div>