@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
h1,h2,h3,h4,h5,h6,p,div,form{
  font-family: 'Raleway', sans-serif !important;
}
.container-fluid{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    #bg{
        img{
            width: 100vw;
            height: 100vh;
        }
    }
    
    #loginSection{
        position: absolute;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        top: 0;
        .row{
            #brand{
                margin-top: 50px;
            }
            #icons_social{
                float: right;
                a{
                    img{
                        padding: 5px;
                    }
                }
            }
        }
        
    }
    
}
#successMsg{
    position: absolute;
    top: 60px;
    right: 25px;
    width: 230px;
    height: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 14px;
    color: white;
    background: #007d30;
    z-index: 100;
    line-height: 32px;
    padding: 10px;
    text-align: center;
    border-radius: 14px;
}
#failedMsg{
  position: absolute;
    top: 60px;
    right: 25px;
    width: 230px;
    height: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 14px;
    color: white;
    background: crimson;
    z-index: 100;
    line-height: 32px;
    padding: 10px;
    text-align: center;
    border-radius: 14px;
}
.login-wrapper{
    form{
        .form-group{
            #category {
                display: block;
                position: relative;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                padding: 6px;

                // span{
                //     background: #9a00ffbf;
                //     padding: 6px;
                //     line-height: 36px;
                // }                
            }
            #categoryRadio{
                #categoryValues{
                    background: lightgrey;
                    height: 36px;
                    line-height: 36px;
                    padding: 0 5px;
                    color:black;
                    font-weight: 500;
                    margin-bottom: 5px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;                
    
                    input{
                        cursor: pointer;
                    }
                }
            }
            
            
        }
    }
}
.acma_text{
    margin-top: 15%;
    margin-left: 10%;
    color: white;
}
@media (max-width: 767px) {
    .container-fluid{
        #loginSection{
            .row{
                #brand{
                    margin: 5px;
                }
                .acma_text{
                    margin: 5px;
                    h3{
                        font-size: 16px;
                    }
                    h5{
                        font-size: 20px;
                    }
                }
                .login-wrapper{
                    padding: 5px;
                    margin-left: 5px;
                }
            }
        }   
    }
}

.header-section{background: #fff; color: #000; padding: 10px;}
.mobile-menu{padding: 0; margin: 7px 0 0 0;}
.mobile-menu li{
  padding: 0 0 0px 8px;
    margin: 0;
    display: inline-block;
    list-style: none;
    text-decoration: none;
  }


   .mobile-menu li a{
     font-weight: 600;
    color: #09623e;
    font-size: 15px;
  }



.footer-nav{
  position: absolute;bottom: 0; padding: 10px; background: rgb(34,34,34);
  background: linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(29,29,29,0.3981967787114846) 100%);
}


.footer-nav1{padding: 0; margin: 7px 0 0 0;}
.footer-nav1 li{padding: 0 0 0px 8px;
    margin: 0;
    display: inline-block;
    list-style: none;
    text-decoration: none;}


   .footer-nav1 li a{font-weight: 600;
    color: #fff;
    font-size: 15px; }



/*  home css   */

  @media (max-width: 991px) {
    .login-section-wrapper {
      padding-left: 50px;
      padding-right: 50px; } }
  @media (max-width: 575px) {
    .login-section-wrapper {
      padding-top: 20px;
      padding-bottom: 20px;
      min-height: 100vh; } }

.login-wrapper {
    // width: 300px;
    max-width: 100%;
    padding-top: 16px;
    padding-bottom: 24px;
   // margin-top: -90px;
    // margin-left: 5%;
    //margin-top: 4%;

}
.form-group{
    margin-bottom: 10px;
}
    @media (max-width: 575px) {
      .login-wrapper {
        width: 100%;
        margin-top: 50%
       } }
    .login-wrapper label {
      font-size: 14px;
      font-weight: bold;
      // color: #b0adad;
      color:black;
    }
    .login-wrapper .form-control {
      outline: none;
      box-shadow:none !important;
      border:1px solid #080808db !important;

      background: #0808080d;
      border: none;
      border-bottom: 1px solid #e7e7e7;
      border-radius: 0;
      padding: 9px 5px;
      min-height: 34px;
      font-size: 15px;
      font-weight: normal;
    }
      .login-wrapper .form-control::-webkit-input-placeholder {
        color:black;
        font-weight: 500;
      }
      .login-wrapper .form-control::-moz-placeholder {
        color:black;
        font-weight: 500;
      }
      .login-wrapper .form-control:-ms-input-placeholder {
        color:black;
        font-weight: 500;
      }
      .login-wrapper .form-control::-ms-input-placeholder {
        color:black;
        font-weight: 500;
      }
      .login-wrapper .form-control::placeholder {
        color:black;
        font-weight: 500;
      }
    .login-wrapper .login-btn {
      padding: 12px 12px;
      background-color: #c78b39;
      border-radius: 0;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 14px;
      margin-top: 5%;
    }
      // .login-wrapper .login-btn:hover {
      //   border: 1px solid #007bff;
      //   background-color: #fff;
      //   color: #007bff;
      // }
    .login-wrapper a.forgot-password-link {
      // color: #080808;
      color: black;
      font-weight: 500;
      font-size: 15px;
      text-decoration: underline;
      display: inline-block;
      margin-bottom: 50px;
    }
    @media (max-width: 575px) {
      .login-wrapper a.forgot-password-link {
        margin-bottom: 16px;
      }
    }
    .login-wrapper-footer-text {
      font-size: 16px;
      font-weight: 500;
      color: #000;
      margin-bottom: 0;
      a{
        // text-decoration: none;
        font-weight: 700;
        color: #007d30;
      }
    }

  .login-title {
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px; }

  .login-img {
    width: 100%;
    height: 100vh;
    position: absolute;
    // -o-object-fit: cover;
    //    object-fit: cover;
    // -o-object-position: left;
    //    object-position: left;
    }

  /*# sourceMappingURL=login.css.map */
  input.ng-invalid.ng-touched{
    border-color:red;
  }

  

  .card {
    margin-left: 2.5%;
    max-width: 50rem;
    border-radius: 3rem;
    overflow: hidden;
    box-shadow: 0 0 20px 10px #d9d9d9;
    font-size: 2rem;
    /*transform: rotate(-5deg);
    transition: transform 0.2s ease-out;*/
  }
  .card:hover {
    transform: rotate(0);
  }
  .card__text {
    max-width: 50ch;
    margin: 0;

    margin-top: 15px;

    // padding: 3rem;
  }
  .card__footer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .footer__bg {
    background: rgb(92, 191, 187);
    background: linear-gradient(to right, #d1342d, #c78b39);
  }
  .card__thumb {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 0 2rem;
    transition: transform 0.2s ease-out;
    object-fit: cover;
  }
  .thumb__bdr {
    border: 5px solid white;
  }
  .card:hover .card__thumb {
    transform: scale(1.15);
  }
  .card__p-name {
    color: white;
  }
  p {
    text-align: center;
        color: #c78b39;
        font-size: 20px;
        font-weight: 900;
    // margin-left: 5%;
    // width: 100%;
      // margin-top: 25%;
  }
  span{
    font-size: 15px !important;
    margin-right: 15px;
  }
  