section{
    position: relative; 
    height: 100%;
    width: 100%;
    #clap{
      position: absolute;
      top: 19%; 
      right: 1%;
      z-index: 1000;
    }
    #content{
      position: relative;
      #content_wrap{
        position: relative;
        #bg{
          position: relative;
          width: 100%;
          height: 100%;
          display: block;
          img{
            width: calc(100vw - 140px);
            height: 100vh;
            margin-left: 70px;
          }
        }
        
        #checking{ 
            position: absolute;
            top: 0;
            width: calc(100vw - 140px);
            height: 100vh;
            left: 70px;
            #player_sec{
            position: absolute;  
            top: 29.5%;  
            left: 24.58%;
            vg-player{
                width: calc((100vw - 140px)*0.51111);
                height: 46.7vh;
            }
          }

          } 
      }
    }
  }

  @mixin white-gradient {
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  }
  
  $animationSpeed: 40s;
  
  // Animation
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7))}
  }
  
  
  // Styling
  // Styling
.logo{
    // width: 15%;
    position: absolute;
    bottom: 0%;
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 60px;
    margin: auto;
    z-index: 99999;
    overflow:hidden;
    img{
        z-index: 9999999;
    height: 60px;
    padding: 0 10px 0 10px;
    margin-left: 70px;
    // padding-bottom: 30px;
    }
}
.slider {
    // height: 8vh;
    width: 100%;
    position: absolute;
    bottom: 0%;
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 60px;
	margin: auto;
    overflow:hidden;
    // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	// position: relative;
	// width: 960px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
        width: calc(280px * 14);
        text-align: center;
	}
	
	.slide {
		height: 100px;
        width: 280px;
        img{
            height: 60px;
            // width: 200px;
        }
	}
}

@media only screen and (max-width: 800px) {
    .logo{
        // width: 25% !important;
        height: 45px;
        img{
            margin-left: 55px;
            height: 45px;
        }
    }
    .slider {
        height: 45px !important;
        .slide{
            img{
                height: 45px;
            }
        }
    }
    #bg{
        img{
          width: calc(100vw - 100px) !important;
          margin-left: 50px !important;
        } 
        
        #checking{ 
            position: absolute;
            top: 0;
            width: calc(100vw - 100px) !important;
            left: 50px !important;
            #player_sec{
            position: absolute;  
            top: 29.5%;  
            left: 24.58%;
            vg-player{
                width: calc((100vw - 100px)*0.51111) !important;
            }
          }
  
          } 
      }
  }
  