<section>
    <div id="content">
        <div id="content_wrap">
            <div id="bg">
                <img src="{{banner}}" alt="" id="bgImg">
                <div id="setting">
                    <div id="title">
                        <img src="{{exhibiton[0].logo}}" alt="">
                    </div>
                    <div class="booth-icons-box">
                        <a *ngIf="brouchers_Data.length !=0" class="booth-icon-link" href="javascript:void(0);" data-fancybox=""
                            data-toggle="modal" data-target=".docsModal">
                            Brochures <span><img
                                    src="https://png.pngtree.com/png-vector/20190129/ourmid/pngtree-document-vector-icon-png-image_355823.jpg"></span>
                        </a>
    
                        <a data-fancybox="" data-toggle="modal" data-target=".liveQuestionModal" href="javascript:void(0);"
                            class="booth-icon-link">
                            Chat With Us<span><img
                                    src="https://png.pngtree.com/png-vector/20190118/ourmid/pngtree-vector-chat-icon-png-image_323830.jpg"></span>
                        </a>
                        <a *ngIf="videosource !=''"  class="booth-icon-link" href="javascript:void(0);"
                        (click)="playShowVideo()">
                            Play video <span><img
                                    src="https://png.pngtree.com/png-vector/20190223/ourmid/pngtree-vector-play-icon-png-image_695339.jpg"></span>
                        </a>
                        <a class="booth-icon-link" href="javascript:void(0);" data-fancybox="" (click)="cardPost()">
                            Card Drop <span><img
                                    src="https://d3ep09c8x21fmh.cloudfront.net/drop.png"></span>
                        </a>
                        <a *ngIf="salesPerson !=''" class="booth-icon-link" href="javascript:void(0);" data-fancybox="" data-toggle="modal" title="Connect with us" data-target=".salesModal">
                            Connect with us <span><img
                                    src="https://d3ep09c8x21fmh.cloudfront.net/cwu.png"></span>
                        </a>
                        <a class="booth-icon-link" href="javascript:void(0);" data-fancybox="" data-toggle="modal" title="Schedule a call" data-target=".scheduleCallmodal">
                            Schedule Call <span><img
                                    src="https://d3ep09c8x21fmh.cloudfront.net/call.png"></span>
                        </a>
                    </div>
                    <div id="text">
                        <p id="p">{{exhibiton[0].title | slice:0:40}}</p>
                    </div>

                    <div id="creatve1">
                        <img src="{{exhibiton[0].creatives.creative3}}">
                    </div>
                    <div class="creatve2">
                        <img src="{{exhibiton[0].creatives.creative2}}">
                    </div>
                    <div class="creatve3">
                        <img src="{{exhibiton[0].creatives.creative1}}">
                    </div>
                    <div class="creatve4">
                        <img src="{{exhibiton[0].creatives.creative4}}">
                    </div>
                    <!-- <div class="video_meeting" title="Schedule a call" data-toggle="modal" data-target=".scheduleCallmodal">
                        <div class="pulsating-circle"></div>
                    </div> -->
                    <!-- <div class="live_chat" title="Chat with exhibitor" data-toggle="modal" data-target=".liveQuestionModal">
                        <div class="pulsating-circle"></div>
                    </div> -->
                    <!-- <div class="connectUs" title="Connect with us" data-toggle="modal" data-target=".salesModal">
                        <div class="pulsating-circle"></div>
                    </div> -->
                    <!-- <div class="broucher" title="Brochures" data-toggle="modal" data-target=".docsbrouchModal">
                        <div class="pulsating-circle"></div>
                    </div> -->
                    <!-- <div class="product_list" title="Product List" data-toggle="modal" data-target=".productModal">
                        <div class="pulsating-circle"></div>
                    </div> -->
                    <div class="left_graphic" title="First Creative" data-toggle="modal" data-target=".thirdGraphicModal">
                        <div class="pulsating-circle"></div>
                    </div>
                    <div class="right_graphic" title="Second Creative" data-toggle="modal" data-target=".rightGraphcModal">
                        <div class="pulsating-circle"></div>
                    </div>
                    <div class="third_graphic" title="Third Creative" data-toggle="modal" data-target=".leftGraphicModal">
                        <div class="pulsating-circle"></div>
                    </div>
                    <div  class="four_graphic" title="Fourth Creative" data-toggle="modal" data-target=".fourGraphicModal">
                        <div class="pulsating-circle"></div>
                    </div>
                    <!-- <div class="card_drop" title="Click to card drop" (click)="cardPost()">
                      <div class="pulsating-circle"></div>
                    </div> -->
                    <div id="socialicons">
                        <a target="_blank" *ngIf="exhibiton[0].twitter != ''" href="{{exhibiton[0].twitter}}"><img src="../../../../assets/icons/twit.png"
                                alt=""></a>
                        <a target="_blank" *ngIf="exhibiton[0].youtube != ''" href="{{exhibiton[0].youtube}}"><img src="../../../../assets/icons/youtube.png"
                                alt=""></a>
                        <a target="_blank" *ngIf="exhibiton[0].linkedin_url != ''" href="{{exhibiton[0].linkedin_url}}"><img
                                src="../../../../assets/icons/linkdin.png" alt=""></a>
                        <a target="_blank" *ngIf="exhibiton[0].fb != ''" href="{{exhibiton[0].fb}}"><img src="../../../../assets/icons/fbicon.png"
                                alt=""></a>
                          <a href="{{exhibiton[0].linkedin}}" *ngIf="exhibiton[0].linkedin != ''" target="_blank" rel="noopener noreferrer">
                            <i style="    position: absolute;
                            right: 25px;
                            bottom: 45px;
                            font-size: 41px;" class="fa fa-globe"></i>
                          </a>

                    </div>
                    <button  class="adapt" title="Exhibitors" data-target=".exDirectories" data-toggle="modal" type="button">Exhibitors List</button>

                    <!-- <div id="players" title="Play Video" (click)="playShowVideo()">
                        <div class="one" title="Click to play video"> -->
                            <!-- <i class="fa fa-play-circle" style="font-size: 40px;" (click)="playShowVideo();"></i> -->
                        <!-- </div> -->
                        <!-- <div class="two" title="Click to play video">
                              <i class="fa fa-play-circle" style="font-size: 40px;" (click)="playShowVideo();stepUpAnalytics('Play_video2')"></i>
                            </div>
                            <div class="three" title="Click to play video">
                              <i class="fa fa-play-circle" style="font-size: 40px;" (click)="playShowVideo();stepUpAnalytics('Play_video3')"></i>
                            </div>
                            <div class="four" title="Click to play video">
                              <i class="fa fa-play-circle" style="font-size: 40px;" (click)="playShowVideo();stepUpAnalytics('Play_video')"></i>
                            </div> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div id="modal-video">
                    <div id="closePopup" (click)="closeModalVideo()">&times;</div>
                    <video id="video" preload="auto" src="{{exhibiton[0].video}}" width="100%" controls>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div style="position: relative;  top: -69%;  left: 25%;">
        <vg-player  [ngStyle]="{'width': '14.5%'}">
          <vg-controls [vgAutohide]="true" [vgAutohideTime]="1">
      
            <vg-play-pause></vg-play-pause>
            <vg-time-display ></vg-time-display>
            <vg-playback-button></vg-playback-button>
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>
            <vg-fullscreen ></vg-fullscreen>
          </vg-controls>
          <vg-buffering></vg-buffering>
          <video #myMedia [vgMedia]="myMedia"
          preload="auto"  autoplay="true"
           vg-responsive="true"
          type="video/mp4"  >
          <source src="{{exhibiton.video}}" type="video/mp4">
          </video>
      </vg-player>
      </div> -->
<!-- <div class="chats" title="Chat with booth staff" (click)="openChat()">
        <div class="pulsating-circle" ></div>
      </div>
      <div class="docs" title="Show Documents" (click)="openDocs()">
        <div class="pulsating-circle" ></div>
      </div>
      <div class="call" title="Schedule a call" (click)="openCallBox()">
        <div class="pulsating-circle" ></div>
      </div>
      <div class="info" title="Sales info" (click)="opensales()">
        <div class="pulsating-circle" ></div>    color: #000;
          background: #fff;
          border-radius: 4px;
          padding: 5px 60px 5px 20px;
          margin-bottom: 30px;
          position: relative;
          box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.4);
          display: flex;
          transition: transform 300ms linear;
      </div> -->
<div class="modal fade docsbrouchModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6 style="text-transform: uppercase;">Brochure</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row pt-2">
                                    <div class="col-md-12 col-xl-12 pl-0">
                                        <div class="chat_box">
                                            <ul class="chat_message">
                                                <li class="chat_messageList" *ngFor="let data of brouchers_Data">
                                                    <div class="img_avatar"> <img src="./assets/img/pdf.png" alt=""></div>

                                                    <span class="person">
                                                        <a href="{{data.url}}" style="text-decoration: none; color: black;"
                                                            target="_blank" download class="checkProfile">
                                                            {{data.title}}</a>
                                                    </span>
                                                    <!-- <span *ngIf="docs.flag=='0'" (click)="postBreifcase(docs.title,docs.url)" class="float-right"
                                  title="Add to breifcase" style="cursor: pointer;">
                                  <img src="../../../../assets/icons/Briefcase.png" alt="">
                                </span> -->
                                                    <!-- <span *ngIf="docs.flag=='1'" class="float-right" title="Already Added"
                                                        style="cursor: pointer;">
                                                        <i class="fa fa-briefcase" style="font-size: 28px;" aria-hidden="true"></i>
                                                    </span> -->
                                                    <!-- <span class="person">
                                      <a href="test" download class="checkProfile"> test</a>
                                    </span> -->



                                                </li>


                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- product list -->

<div class="modal fade productModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6 style="text-transform: uppercase;">Products</h6>
                                <a class="close" (click)="closeproduct()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row pt-2">
                                    <div class="col-md-12 col-xl-12 pl-0">
                                        <div class="chat_box">
                                            <ul class="chat_message">
                                                <ul class="chat_message">
                                                    <li class="chat_messageList" *ngFor="let data of exhibiton[0].product">
                                                        <div class="img_avatar"> <img src="./assets/img/pdf.png" alt=""></div>
    
                                                        <span class="person">
                                                            <a href="{{data.url}}" style="text-decoration: none; color: black;"
                                                                target="_blank" download class="checkProfile">
                                                                {{data.title}}- {{data.desc}}</a>
                                                        </span>

                                                     
    
    
                                                    </li>
    
    
                                                </ul>

                                                <hr>
                                            </ul>
                                        </div>

                                    </div>
                                    <!-- <div class="col-md-7 col-xl-7">
                                        <img [src]="product" width="100%" alt="">
                                        <img *ngIf="pord_desc" [src]="pord_desc" width="100%" alt="">
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- left graphic -->
<div class="modal fade leftGraphicModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <!-- <h6 style="text-transform: uppercase;">Graphics</h6> -->
                                <a class="close" (click)="closeLeft()"></a>
                            </div>
                            <!-- <embed style="width:100%" [src]="exhibiton[0].graphics[0].url"
                      height="550" frameborder='0' > -->
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row p-0">
                                    <div class="col-md-12 col-xl-12 p-0">
                                        <img [src]="exhibiton[0].creatives.creative1" alt="" width="100%">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- third graphic -->
<div class="modal fade thirdGraphicModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <!-- <h6 style="text-transform: uppercase;">Graphics</h6> -->
                                <a class="close" (click)="closeThird()"></a>
                            </div>
                            <!-- <embed style="width:100%" [src]="exhibiton[0].graphics[0].url"
                    height="550" frameborder='0' > -->
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row p-0">
                                    <div class="col-md-12 col-xl-12 p-0">
                                        <img [src]="exhibiton[0].creatives.creative3" alt="" width="100%">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- third graphic -->
<div class="modal fade fourGraphicModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <!-- <h6 style="text-transform: uppercase;">Graphics</h6> -->
                                <a class="close" (click)="closeFour()"></a>
                            </div>
                            <!-- <embed style="width:100%" [src]="exhibiton[0].graphics[0].url"
                    height="550" frameborder='0' > -->
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row p-0">
                                    <div class="col-md-12 col-xl-12 p-0">
                                        <img [src]="exhibiton[0].creatives.creative4" alt="" width="100%">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Right graphics -->
<div class="modal fade rightGraphcModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <!-- <h6 style="text-transform: uppercase;">Graphics</h6> -->
                                <a class="close" (click)="closeright()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row p-0">
                                    <div class="col-md-12 col-xl-12 p-0">
                                        <img [src]="exhibiton[0].creatives.creative2" alt="" width="100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<!-- Sales-Info -->
<div class="modal fade salesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6 style="text-transform: uppercase;">Connect with us</h6>
                                <a class="close" (click)="closesales()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row pt-2">

                                    <div class="col-md-6" *ngFor="let sales of salesPerson; let i = index">
                                        <div class="profile-card">
                                            <div #screen id="hello{{i}}">
                                                <figure>
                                                    <i class="fa fa-user"></i>
                                                </figure>
                                                <h3>{{sales.name}}</h3>
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td><i class="fa fa-id-badge"></i>{{sales.position}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="fa fa-envelope"></i>{{sales.email}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="fa fa-mobile"></i>{{sales.contact}}</td>
                                                        </tr>
                                                        <!-- <tr>
                                      <td><i class="fa fa-trash"></i><a id="{{sales.id}}">{{sales.id}}</a></td>
                                  </tr> -->
                                                    </tbody>
                                                </table>
                                            </div>
                                            <a nhref="" class="download_card" (click)="download(i,sales.name)">
                                                Download
                                            </a>

                                        </div>
                                        <div id="download">
                                            <img #canvas style="display: none;">
                                            <a #downloadLink></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- schdeule a call -->
<div class="modal fade scheduleCallmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6 style="text-transform: uppercase;">SCHEDULE A CALL</h6>
                                <a class="close" (click)="closeCall()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">




                                <h4 style="padding-top: 12px;">Select a Date & Time</h4>

                                <div class="row pt-2">

                                    <div class="col-md-6">
                                        <div class="calendar-part">
                                            <ngb-datepicker [minDate]="{year: 2021, month: 01, day: 27}" [maxDate]="{year: 2021, month: 01, day: 30}"
                                                #dp [(ngModel)]="model" (navigate)="date = $event.next" (dateSelect)="onDateSelect($event)"></ngb-datepicker>
                                        </div>
                                        <!-- <pre>Model: {{ model | json }}</pre> -->
                                    </div>
                                    <div class="col-md-6" style="overflow-y: scroll;">
                                        <div class="time-part">

                                            <ul class="time-list mCustomScrollbar _mCS_4" id="list">
                                                <div id="mCSB_4" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside"
                                                    tabindex="0" style="max-height: none;">
                                                    <div id="mCSB_4_container" class="mCSB_container" style="position:relative; top:0; left:0;"
                                                        dir="ltr">

                                                        <li *ngFor="let times of newTimeSlots">
                                                            <a *ngIf="times.flag =='enabled'" (click)="getTime($event,'active',times.time)"
                                                                href="javascript:void(0);" class="time_a" data-val=times.time>{{times.time}}</a>

                                                            <!-- <a  href="javascript:void(0);" disabled="disabled"
                                    class="time_a btn-disabled">{{times.time}}</a> -->

                                                            <a *ngIf="times.flag =='disabled'" disabled="disabled" href="javascript:void(0);"
                                                                class="time_a btn-disabled" data-val=times.time>{{times.time}}</a>
                                                        </li>
                                                        <!-- <li id=""><a (click)="getTime($event,'active','10:00')" href="javascript:void(0);"
                                      class="time_a" data-val="10:00">10:00 am</a></li>
      
                                  <li id=""><a (click)="getTime($event,'active','10:30')" href="javascript:void(0);"
                                      class="time_a" data-val="10:30">10:30 am</a></li>
      
                                  <li id=""><a (click)="getTime($event,'active','11:00')" href="javascript:void(0);"
                                      class="time_a" data-val="11:00">11:00 am</a></li>
      
                                  <li id=""><a (click)="getTime($event,'active','11:30')" href="javascript:void(0);"
                                      class="time_a" data-val="11:30">11:30 am</a></li>
      
                                  <li id=""><a (click)="getTime($event,'active','12:00')" href="javascript:void(0);"
                                      class="time_a" data-val="12:00">12:00 pm</a></li>
      
                                  <li id=""><a (click)="getTime($event,'active','12:30')" href="javascript:void(0);"
                                      class="time_a" data-val="12:30">12:30 pm</a></li>
      
                                  <li id=""><a (click)="getTime($event,'active','01:00')" href="javascript:void(0);"
                                      class="time_a" data-val="13:00">01:00 pm</a></li>
      
                                  <li id=""><a (click)="getTime($event,'active','01:30')" href="javascript:void(0);"
                                      class="time_a" data-val="13:30">01:30 pm</a></li>
      
                                  <li id=""><a (click)="getTime($event,'active','02:00')" href="javascript:void(0);"
                                      class="time_a" data-val="14:00">02:00 pm</a></li>
      
                                  <li id=""><a (click)="getTime($event,'active','02:30')" href="javascript:void(0);"
                                      class="time_a" data-val="14:30">02:30 pm</a></li>
      
                                  <li id=""><a (click)="getTime($event,'active','03:00')" href="javascript:void(0);"
                                      class="time_a" data-val="15:00">03:00 pm</a></li>
      
                                  <li id=""><a (click)="getTime($event,'active','03:30')" href="javascript:void(0);"
                                      class="time_a" data-val="15:30">03:30 pm</a></li>
      
                                  <li id=""><a (click)="getTime($event,'active','04:00')" href="javascript:void(0);"
                                      class="time_a" data-val="16:00">04:00 pm</a></li>
      
                                  <li id=""><a (click)="getTime($event,'active','04:30')" href="javascript:void(0);"
                                      class="time_a" data-val="16:30">04:30 pm</a></li>
      
                                  <li id=""><a (click)="getTime($event,'active','05:00')" href="javascript:void(0);"
                                      class="time_a" data-val="17:00">05:00 pm</a></li>
      
                                  <li id=""><a (click)="getTime($event,'active','05:30')" href="javascript:void(0);"
                                      class="time_a" data-val="17:30">05:30 pm</a></li>
      
                                  <li id=""><a (click)="getTime($event,'active','06:00')" href="javascript:void(0);"
                                      class="time_a" data-val="18:00">06:00 pm</a></li>
      
                                  <li id=""><a (click)="getTime($event,'active','06:30')" href="javascript:void(0);"
                                      class="time_a" data-val="18:30">06:30 pm</a></li> -->

                                                    </div>
                                                    <div id="mCSB_4_scrollbar_vertical" class="mCSB_scrollTools mCSB_4_scrollbar mCS-light mCSB_scrollTools_vertical"
                                                        style="display: block;">
                                                        <div class="mCSB_draggerContainer">
                                                            <div id="mCSB_4_dragger_vertical" class="mCSB_dragger"
                                                                style="position: absolute; min-height: 30px; display: block; height: 149px; max-height: 290px; top: 0px;">
                                                                <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                                                            </div>
                                                            <div class="mCSB_draggerRail"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ul>

                                        </div>
                                    </div>
                                    <button class="confirm-btn" id="confirm_button" type="button" (click)="confirm()">Confirm</button>
                                </div>







                                <!-- <div class="col-md-1 col-xl-1">
                    <div class="online_chat"></div>
                  </div> -->

                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $('#datepicker').datepicker({
                        uiLibrary: 'bootstrap4'
                    });
                </script>

            </div>
        </div>
    </div>
</div>
<i class="fa fa-arrow-left" style="left: 12% !important;  position: absolute !important;
            top: 6% !important; font-size: 3em !important; cursor: pointer !important;  color:whitesmoke !important; z-index: 9999999; outline: -webkit-focus-ring-color auto 0px !important;" aria-hidden="true" (click)=previous()></i>
            <i class="fa fa-arrow-right" style="right: 12% !important;  position: absolute !important;
            top: 6% !important; font-size: 3em !important; cursor: pointer !important;  color:whitesmoke !important; z-index: 9999999; outline: -webkit-focus-ring-color auto 0px !important;" (click)=next() aria-hidden="true"></i>
<!-- live chat modal -->
<div class="modal fade liveQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="position: absolute; bottom: 0px; right: 85px;">
        <div class="modal-content">
            <!-- <div class="container-fluid" id="popup">
              <div class="row">
                <div class="col-md-12 col-xl-12">
                  <div class="chat_section">
                    <div class="popup_header">
                      <h6>Live Chat</h6>
                      <a class="close" (click)="closeChat()"></a>
                    </div>
                    <div class="container-fluid" style="  background: #f2f4f7;">
                      <div class="row pt-2">
                        <div class="col-md-12 col-xl-12 pl-0">
                          <div class="chat_box">
                            <ul class="chat_message" id="chat_messaged">
                              <li class="chat_messageList" *ngFor="let qa of qaList">
                                <div class="img_avatar"> <img src="../assets/img/default_avatar.png" alt=""></div>
      
                                <span class="person">
                                  <a href="javascript:void(0);" style="font-size: 14px; font-weight: bold; color: #000;"
                                    class="checkProfile">{{qa.question}}</a>
                                </span>
                                
                                <div class="text_message">
                                  <table>
                                    <td> <img src="../assets/img/customer_support.png" *ngIf="qa.answer" alt="" height="25px"
                                        width="20px"> &nbsp; &nbsp;</td>
                                    <td>
                                      <p [innerHTML]="qa.answer"></p>
                                    </td>
                                  </table>
      
      
                                </div>
                              </li>
                            </ul>
                          </div>
                          <div class="message_input">
                            <textarea name="message" autocomplete="off" placeholder="Enter your question" [formControl]="textMessage"
                              (keyup.enter)="postQuestion(textMessage.value)" maxlength="200" type="text" id="query" value=""></textarea>
                          </div>
                          <button type="submit" class="btn borderBtn SubmitBut" style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;"
                            (click)="postQuestion(textMessage.value)">Submit</button>
                        </div>
                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="card" id="chatSection" *ngIf="isShow">
                <div class="p-3" style="font-weight: 500; background-color: #da251c; color: white;">Chat with
                    {{exhibiton[0].title}}
                    <i class="fa fa-times float-right" style="cursor: pointer;" title="Minimize Chat" *ngIf="showchat"
                        (click)="hidediv()"></i>
                    <i class="fa fa-arrow-up float-right" *ngIf="hidechat" title="Maximize Chat" (click)="show()"></i>
                </div>
                <div class="row" *ngIf="showDiv">
                    <div class="col-md-12 col-xl-12 col-sm-12">
                        <div style="max-height: 200px;  min-height: 200px; overflow:auto">
                            <div class="card p-2" *ngFor="let qa of qaList" style="border-left: 5px solid cadetblue; margin-bottom: 5px">
                                <div id="image_profile" style="padding: 1px 12px;
                        ">
                                    <span class="profileImage1 card-body" *ngIf="myid != qa.sender_id" title="{{qa.sender_name}}">{{qa.sender_name
                                        | slice:0:1}}</span>

                                    <div *ngIf="myId != qa.sender_id" id="profile_details1" style="    position: relative;
                                    top: 8px;">
                                        <div style="    position: relative;
                                        left: 10px;">{{qa.msg}}</div>
                                    </div>
                                    <span class="profileImage card-body" *ngIf="myid == qa.sender_id" title="{{qa.sender_name}}">{{qa.sender_name
                                        | slice:0:1}}</span>
                                    <div *ngIf="myId == qa.sender_id" id="profile_detail">
                                        <div style="    position: relative;
                                        left: 10px;">{{qa.msg}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-3 pb-3 pl-1 pr-1">
                            <input class="form-control" [(ngModel)]="msgs" maxlength="60" placeholder="Write something here.."
                                [formControl]="textMessage" (keyup.enter)="postQuestion(textMessage.value)" /> <br>
                            <button class="btn btn-danger" (click)="postQuestion(textMessage.value)">Send</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="modal fade exDirectories" style="z-index: 9999999;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Exhibitor Directory</h6>
                                <a class="close" (click)="closeStandard()"></a>
                            </div>
                            <!-- <iframe style="width:100%" src="../../../assets/img/achive.pdf"
                    height="550" frameborder='0'></iframe> -->
                            <table class="w-100">
                                <!-- <tr>
                                    <th style="text-align: center; font-size: 23 !important;"> Exhibitors</th>
                                    <th>Stalls</th>
                                </tr> -->
                                <div style="overflow-y: scroll; height: 550px;background-color: white;
                                cursor: pointer;">
                                    <tr *ngFor="let stands of standardList">
                                        <td (click)="lifeboy(stands.id)">{{stands.title}}</td>
                                    </tr>
                                    <td></td>
                                    <tr *ngFor="let prems of premiumList">
                                        <td (click)="premium(prems.id)">{{prems.title}}</td>
                                    </tr>
                                </div>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade docsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6 style="text-transform: uppercase;">Brochure</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row pt-2">
                                    <div class="col-md-12 col-xl-12 pl-0">
                                        <div class="chat_box">
                                            <ul class="chat_message">
                                                <li class="chat_messageList" *ngFor="let docs of brouchers_Data">
                                                    <div class="img_avatar"> <img src="./assets/img/pdf.png" alt="">
                                                    </div>

                                                    <span class="person">
                                                        <a href="{{docs.url}}"
                                                            style="text-decoration: none; color: black;" target="_blank"
                                                            download class="checkProfile">
                                                            {{docs.title}}</a>
                                                    </span>
                                                    <!-- <span *ngIf="docs.flag=='0'" (click)="postBreifcase(docs.title,docs.url)" class="float-right"
                            title="Add to breifcase" style="cursor: pointer;">
                            <img src="../../../../assets/icons/Briefcase.png" alt="">
                          </span> -->
                                                    <!-- <span *ngIf="docs.flag=='1'" class="float-right" title="Already Added" style="cursor: pointer;">
                            <i class="fa fa-briefcase" style="font-size: 28px;" aria-hidden="true"></i>
                          </span> -->
                                                    <!-- <span class="person">
                                <a href="test" download class="checkProfile"> test</a>
                              </span> -->



                                                </li>


                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>