section{
    position: relative; 
    height: 100%;
    width: 100%;
    #clap{
      position: absolute;
      top: 19%; 
      right: 1%;
      z-index: 1000;
    }
    #content{
      position: relative;
      #content_wrap{
        position: relative;
        #bg{
          position: relative;
          width: 100%;
          height: 100%;
          display: block;
          img{
            width: 90vw;
            height: 100vh;
            margin-left: 70px;
          }
          
          #player_sec{
            position: absolute;
            top: 15.9%;
            left: 22.1%;
            margin-left: 70px;
                    vg-player{    
              width: 45.4vw;
              height: 47.5vh;
          
            }
          }
        }
      }
    }
  }
  .rightMenu{
    position: absolute;
    right: 6%;
    top: 13%;
    text-align: center;
    padding: 20px 10px;
    color: #fff;
    background: rgba(0,0,0,.3);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    }