<!-- <div class="container">
    <div class="row">
        <div class="col-12">
            <img usemap="#planetmap" src="../../../assets/reinvest/images/session.jpg" alt="" style="width: 100%; height: 100vh;">
            <map name="planetmap">
                <area shape="rect" coords="380,280,280,230" alt="Sun" [routerLink]="['/networkingLounge']">
                <area shape="rect" coords="550,280,450,230" alt="Mercury" [routerLink]="['/sessions']">
                <area shape="rect" coords="730,280,630,230" alt="Venus" [routerLink]="['/partners']">
                <area shape="rect" coords="910,280,810,230" alt="Venus" [routerLink]="['/networkingLounge']">
              </map>
        </div>
    </div>
</div> -->

<section>
    <div id="content">
        <div id="content_wrap">
            <div id="bg" style="background-color: black;">
                <img src="../../../assets/reinvest/images/session3.jpg" alt="">
            </div>
            <i class="fa fa-arrow-left" [routerLink]="['/session-two']" aria-hidden="true"></i>
            <div id="exhibtion_5">
                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=Bioenergy+Reimagining&dates=20201128T113000/20201128T130000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="one" (click)="showSessionPopup('twenty','Bioenergy & Reimagining a New India','In line with Aatmanirbhar Bharat and Annadata to Urjadata visions of Hon’ble Prime Minister of India, Biomass Power / Thermal, BioCNG and Waste to Energy applications directly address environmental and health issues associated with fossil fuel/stubble burning while generating rural employment, increasing farmers’ incomes and helping in building a strong, self-sufficient rural & urban energy cycle.',

                'This session will deliberate on building a roadmap for India’s bioenergy economy with respect to:',
                
                    '• Integrated policy-and-industry action encompassing financing, technology, workforce and enterprise development',
                    '• Role of bioenergy in the overall energy generation scenario of India',
                   ' • Incorporation of best practices and technological advancement in India’s Bio-Energy sector',
                    '• Innovation in biomass based business models for taking cluster-based approach to enable industrial fuel switch to bioenergy',
                    '• Data Acquisition, data analytics based performance monitoring of bionergy based plants and their role in policy formulation & implementation',
                
                'Opening Remarks by Moderator:  Mr Shishir Joshipura,  Managing Director and  Chief Executive Officer, Praj Industries Ltd',
                '',
                'Panelists',
                '',
                        '• Mr Sunil Dhingra, Associate Director, Renewable Energy Technologies, The Energy and Resource Institute (TERI)',
                        '• Prof Dr Oliver Lüdtke, Head – Bioethanol and Biomethane Business Unit and COO & Member of Executive Board, VERBIO Vereinigte BioEnergie AG ',
                        '• Dr S Dasappa, Chair, Interdisciplinary Centre for Energy Research and Professor, Centre for Sustainable Technologies, Indian Institute of Science',
                        '• Prof Arvind M. Lali, Professor-Head, Center of Energy Biosciences, Institute of Chemical Technology (ICT), Mumbai',
                        '• Mr Ashish Bhandari, Managing Director, Thermax Global',
                        '• Mr Vivek Bhatia, Managing Director & Chief Executive Officer, Thyssen Krupp Industries India',
                        '• Lt Col Monish Ahuja, Managing Director, Punjab Renewable energy system Ltd',
                        '• Mr Amitabh Tandon, Secretary, Indian Biomass Power Association',
                '',
                'Q&A',
                '',
                'Vote of Thanks');stepUpAnalytics('click_Technical_session_twenty')">
                </div>
            </div>
            <div id="exhibtion_6">
                <!-- <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=CEOs+Dialogue&dates=20201128T113000/20201128T130000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a> -->
                <!-- <div class="two" (click)="showSessionPopup('twentyone','CEOs` Dialogue*','The renewable energy sector has been the poster child in India’s energy transition story with a 26% contribution in the energy mix.', '','This has led to the Indian renewable energy sector becoming the fourth most attractive renewable energy market in the world, fourth in wind power, fifth in solar power and fifth in renewable power installed capacity.',' With the increased support of Government and improved economics, the sector has become attractive from investors perspective.','', 'Given this the Government is set to achieve 175 gigawatt (GW) of renewable energy capacity by 2022 and 450 GW by 2030.', '','This will help in balancing India’s developmental prerogatives while maintaining its climate commitments.', '','The last couple of years has also seen RE prices falling to as low at Rs 2.43 per unit for wind and Rs 2.44 per unit for solar, much lower than the NTPC’s thermal power at an average of Rs 3.60 per unit.', 'Also, the recently concluded round-the-clock (RTC) tender where companies with the help of storage will provide 24x7 renewable power has been a technological breakthrough leading to resolving the intermittency issue of renewables.','',
                'The CEOs’ Interaction, a closed-door, high profile deliberation will aim to bring together Government machinery and industry on the same platform to outline the  vision and the expectations in the renewable energy space which will help develop the roadmap for the sector till 2030.', 'The session will also deliberate on technological advancements, sharing of global best practices and ironing out operational and policy hurdles for the sector. ',
                '',
                'Keynote Address:' , 'Mr R K Singh, Hon’ble Minister, of Power, New and Renewable Energy and Skills, GoI',
                '',
                'Setting the Context by Moderator:',  'Mr Chandrajit Banerjee, Director General, Confederation of Indian Industry' ,
                '',
                'Interaction and Q&A',

                'Vote of Thanks');stepUpAnalytics('click_Technical_session_twentyOne')">
                </div> -->

                
                

            </div>
            <div id="exhibtion_7">

                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=One+Sun+One+World+One&dates=20201128T113000/20201128T130000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="three" (click)="showSessionPopup('twentytwo','One Sun One World One Grid','Hon`ble Prime Minister of India Shri Narendra Modi, at the First Assembly of the International Solar Alliance (ISA) in Oct 2018, called for connecting solar energy supply across borders, with the vision of One Sun One World One Grid (OSOWOG).', 

               ' The initiative will help to realize “three transitions” of energy development. The transition of energy production from fossil fuel to clean energy dominance; transition of energy allocation from local balance to cross-border and global distribution and the transition from coal, oil, and gas in energy consumption to electric-centric consumption. A tripartite MoU between the ISA, the Government of India, and the World Bank was signed on 8th September, 2020 to implement the OSOWOG initiative.', 'The ISA will act as the nodal agency for all activities of the OSOWOG study including developing a long-term vision, implementation plan, road map and institutional framework. ',
                
                'The third Assembly of the ISA, held on 14th Oct 2020, considered the OSOWOG proposal and approved its vision, and the next steps for its implementation.',' The first global plenary on OSOWOG was organized on the side lines of the third Assembly of ISA member countries during 14-16 October 2020. The Initiative had received a whopping support and encouragement from the participating international bodies.' ,'The United Kingdom visualized the OSOWOG Initiative a one of the key deliverables for COP26 in Glasgow in November 2021 and offered financial and technical support to ISA on implementation of the OSOWOG Initiative. To capitalize on the progress achieved thus far on this subject, a second plenary has been planned on 28th November, 2020 at the 3rd Global RE-Invest.', 'The session OSOWOG will bring various stakeholders to deliberate upon the challenges & opportunities and prepare the roadmap for realization of the ‘One Sun One World One Grid’ initiative.',' This plenary will be a corollary to the First plenary, reinforcing the value, need and criticality of this global initiative. Appended below is the brief Agenda for the second plenary.',
                
                'Welcome and Context Setting by Mr. Upendra Tripathy, Director General, International Solar Alliance',
                'Special Address H.E. Mr. Emmanuel Lenain* Ambassador of France to India, New Delhi',
                '','',
                
                'Panel discussion ',
                
                'Opening Remarks by Moderator: Dr Amit Jain, Senior Energy Specialist, the World Bank',
                
                'Panelist ',
                    '• Mr Nicholas Dunlop, Secretary General, Climate Parliament',
                    '• Mr K Sreekant, Chairman and Managing Director, Power Grid Corporation of India Ltd. ',
                    '    • Mr. Gavin McGillivray, Economic Minister and Counsellor, British High Commission in India ',
                    '• Prof. Lawrence Kazmerski, International Solar Energy Society, Germany', 
                    '• Ms Anita Marangoly George, Executive Vice-President and Deputy Head CDPQ Global',
                    '• Prof Christian Breyer, Lappeenranta University of Technology, Finland',
                
                'Closing Remarks by Mr Indu Shekhar Chaturvedi, Secretary, Ministry of New & Renewable Energy, Govt. of India',
                
                'Vote of Thanks by Mr Jagjeet Sareen, Director (F), International Solar Alliance');stepUpAnalytics('click_Technical_session_twentyTwo')">
                </div>
            </div>
            <div id="exhibtion_8">

                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=STATE+Rajasthan&dates=20201128T113000/20201128T130000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="four" (click)="showSessionPopup('twentythree','FOCUS STATE: Rajasthan','• Welcome Address by Sh. Dinesh Kumar, Pr. Secretary, Energy, Rajasthan',
                '',
                '• Address by Dr. Subodh Agarwal, CMD, RRECL on Rajasthan-The preferred destination for Renewable Energy.',
                '',
                '• Keynote address by Dr. Bulaki Das Kalla, Hon’ble Energy Minister, Rajasthan',
                '',
                '• A presentation on RRECL' ,
                '',
                '• A session on RE Sector Growth and developer`s  prospectus' ,
                '',
                '• Mr. Sanjay Varghese, CEO, Renew Power.',
                '',
                '• Mr. Peeyush Mohit, COO, O2 Power',
                '',
                '• Mr. Anshul Khandelwal, AVP- Adani Renewables.',
                
                '• Mr. Vinod Bishnoi, VP, Suzlon',
                '• Mr. Vivek Kodesia, Head Business Development, Eden Renewables.',
                '• Mr. Himanshu Jena, VP- Infra, Azure Power',
                '• Mr. Bibhu Biswal, VP, Saurya Urja Company of Rajasthan Limited 
            (JVC of GoR and IL & FS)',
            '',
            'Q & A',
            '',
                '• Vote of thanks by Sh. Sunit Mathur, Director (Technical), RRECL.');stepUpAnalytics('click_Technical_session_twentyThree')">
                </div>
            </div>
            <div id="exhibtion_9">

                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=Making+RE+24x7&dates=20201128T150000/20201128T163000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="five" (click)="showSessionPopup('twentyfour','Making RE 24x7: Innovation and Sustainability in Storage','Countries across the world including India are looking at round-the-clock 24×7 renewable energy.',

                'The recently concluded 24×7 round-the-clock (RTC) renewable bid in India by Solar Energy Corporation of India Ltd (SECI) has proved that India is now ready for this innovation and ',
                
                
                'renewable energy can meet energy demand of utilities at par with conventional sources of energy with a firm schedule, however there are still some issues to be addressed including high cost of energy storage. ',
                
                'This session will deliberate on possible models for firm and assured supply of energy through renewable sources. Global developments in energy storage systems and its incorporation with renewable sources and other related issues will also be discussed.',
                
                'Discussion Points',
                
                    '• What is the scale of technology upgradation required for RTC?',
                    '• Is it a cost-effective option for all stakeholders – Generators, DISCOMs, consumers, nation as a whole?',
                    '• What are some of the short-term and medium-term challenges being faced?',
                
                '• Opening Remarks by Moderator:  Mr Fabian Wigand, Associate Director, Energy, Sustainability & Infrastructure, Guidehouse Energy Germany GmbH',
                '',
                'Panelists',
                '',
                    '• Mr Jatindra Nath Swain, Chairman and Managing Director,  Solar Energy Corporation of India (SECI)',
                    '• Mr Sumant Sinha, Chairman and Managing Director, ReNew Power',
                    '• Mr Ranjit Gupta, Chief Executive Officer, Azure Power',
                    '• Mr Rupam Raja, Market Director- India & SE Asia, Fluence',
                    '• Mr Mahesh Kolli, Joint Managing Director, Greenko Group ',
                    '• Mr S Vijayanand,  Chief Executive Officer, Amara Raja Batteries ',
                    '• Mr Nawal Saini, Managing Director-Renewable Power, Brookfield',
                    '• Mr Rohan Patel, Senior Global Director, Public Policy and Business Development, Tesla',
                
                'Q&A',
                '',
                'Vote of Thanks');stepUpAnalytics('click_Technical_session_twentyFour')">
                </div>
            </div>
            <div id="exhibtion_10">
                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=Energy+Transition&dates=20201128T150000/20201128T163000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="six" (click)="showSessionPopup('twentyfive','Energy Transition: Journey of Fossil Fuel to Renewable Energy','Over the past decade India has substantially increased the role of renewables in catering to the country’s energy requirements.',' The transition was led by strong commitment from the policy makers and equally supported by the investments from the private sector and the financial institutions.',' With a target of 175 GW of renewable energy by 2022 and a long-term target of 450 GW by 2030, India has one of the largest transition programs across the world.',' While coal will continue to constitute the key component of energy mix in India for the next few decades, the key to this energy transition will include stronger commitments from some of the major conventional energy players.', 
                '',
                'This session will deliberate on how such global players changed their strategies and how Indian players are joining this transition.',
                '',
                'Opening Remarks by Moderator:  Mr Mahesh Palashiker, President and   Chief Executive Officer, General Electric South Asia',
                '',
                'Panelists',
                '',
                   
                   ' • Mr S M Vaidya, Chairman, Indian Oil Corporation Ltd.',
                    '• Mr Gurdeep Singh,  Chairman and Managing Director, NTPC',
                    '• Dr Arunabha Ghosh,  Chief Executive Officer, Council on Energy, Environment and Water (CEEW)',
                    '• Mr Anindya Chowdhury, Country Manager - Energy Transitions, Shell India',
                    '• Mr Mathieu Soulas, SVP, Strategy & Climate, Total ',
                    '• Mr Neeraj Menon, Partner and Head of Energy and Infrastructure Practice, Trilegal',
                    '• Mr Vinod Tahliani , Chief Executive Officer, India Gas Solutions Private Limited',
                '',
                'Q&A',
                '',
                'Vote of Thanks','');stepUpAnalytics('click_Technical_session_twentyFIve')">
                </div>
            </div>
            <div id="exhibtion_11">
                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=Internet+Energy&dates=20201128T150000/20201128T163000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="seven" (click)="showSessionPopup('twentysix','Internet of Energy: The World of AI and Digitization','The energy sector is undergoing rapid changes and needs to adapt market models to facilitate new services and business opportunities together with empowering customers.', 
                '',
                'As energy transitions and new business models brings an age-old industry into the 21st century, this session will look at how digitization and related technologies can play an important role in this transition.',
                '','',
                'Opening Remarks by Moderator:Mr Akilur Rehman, Chief Technical Officer, Hitachi ABB Power Grids',
                '','',
                'Panelists',
                '',
                    
                    
                    '• Dr Madan Mohan Tripathi, Professor, Delhi Technological University',
                    '',
                    '• Dr Abhishek Kumar, Head-Solar System Technology, Solar Energy Research Institute',
                    
                    '• Dr Venkat Venkatraman, Executive Vice President of Engineering and Chief Technology Officer, Bloom Energy',
                    
                    '• Mr Kunal Upadhyay, Chief Executive - Investments – Cleantech, Centre for Innovation Incubation and Entrepreneurship (CIIE), Indian Institute of Management,  Ahmedabad (IIM-A) ',
                    '',
                    '• Mr Vishal Pandya, Co-Founder, REConnect Energy',
                    '• Prof Mohd Rihan,  Professor Electrical Engineering  Department, AMU ',
                   ' • Prof. Dr. B.K.Panigrahi, Professor, Department of Electrical Engineering, IIT, Delhi ',
                '',
                'Q&A',
                '',
                'Vote of Thanks');stepUpAnalytics('click_Technical_session_twentySix')">
                </div>
            </div>
            <div id="exhibtion_12">
                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=Session+ITALY&dates=20201128T150000/20201128T163000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="eight" (click)="showSessionPopup('twentyseven','Country Session: ITALY','“The Italian technology in the renewable energy sector: a new multi-year perspective of partnership with India”.','','','','• Opening speech of the Ambassador of Italy to India, H.E. Vincenzo De Luca','','','',
                '• Ing. Lamberto Dai Pra’, Enel Green Power’s Head of Africa, Asia and Oceania area', '','','',
            '“Enel in India: supporting India’s energy transition through sustainable solutions”','','','',
                '• SNAM*','','','',
                '• Q&A','','');stepUpAnalytics('click_Technical_session_twentySeven')">
                </div>
            </div>
            <div id="exhibtion_13">
                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=SESSION+Himachal&dates=20201128T150000/20201128T163000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="nine" (click)="showSessionPopup('twentyeight','STATE SESSION: Himachal Pradesh','
                Welcome Address by Sh Ram Subhag Singh (IAS), Addl Chief Secretary (MPP& Power/NES/Industry), to the Govt of H.P',
                
                '• Hybrid Session',
                
                '• Project Developers',
                
                '• Sh R.K. Verma',
                '• Sh Arun Sharma',
                '• Sh Praveen Puri',
                '• Sh Bredo Erikson',
                
                '• Manufacturers',
                
                '• Sh Shailesh Agarwal',
                '• M/s Andritz',
                '• M/s G.E
                • M/s Schnider',
                
                '• Hybrid',
                '• M/s Greenko',
                
                '• Solar Session',
                
                '• Project Developers',
                '• Sh K.K. Kashyap',
                '• Sh R.P. Suman',
                
                '• Manufacturers',
                '• M/s Waree Energies,
                • M/s Adani Solar',
                '• M/s Vikram Solar,
                • M/s Jupiter International',
                
                '• Address by MNRE,GOI',
                
                '• Address by Hon’ble Power Minister, H.P.',
                
                'Reply to the issues raised by the delegates        
                Vote of Thanks by CEO, HIMURJA
                The Session will be moderated by Sh Harikesh Meena, IAS, Director, DOE');stepUpAnalytics('click_Technical_session_twentyEight')">
                </div>
            </div>
            <div id="exhibtion_14">
                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=Building+World+Class+Technology&dates=20201128T163000/20201128T180000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="ten" (click)="showSessionPopup('twentynine','Building a World-Class Technology & R&D in Renewable Energy','With the new technologies replacing traditional ways of generating power, there is a requirement to bring transformations in energy production, usage and storage for efficiency, flexibility and co-ordination of energy and its associated processes. This requires development of innovative technologies that can enhance the performance and efficiency of low carbon power generation assets leading to improved efficiency and reduced operational and maintenance costs. ',

               ' Together with this, as the renewable energy sector is data-intensive and project-based, the collaboration between stakeholders with diverse goals and perspectives, makes it critical to have R&D to pursue integration strategies across platforms to meet a wide range of organizational goals.',
                
                'This session would deliberate on how to strengthen R&D across the lifecycle of infrastructure and assets, with respect to:',
                
                    '• Maintenance, inspection and monitoring services',
                    '• Grid, power generation, networks, and distribution',
                   ' • Integration of variable renewables through different flexibility options such as grid reinforcements, demand-side management, energy storage, sector coupling and flexible conventional generation.',
                    '• Failure modes and effects analysis (FMEA)',
                    '• Risk assessment and remaining useful life',
                    '• Installation, commissioning and decommissioning',
                    '• Digitalization of legacy systems',
                
                'Opening Remarks by Moderator:  Ms. Mani Khurana, Senior Energy Specialist , the World Bank ',
               
                'Panelists',
                
                   ' • Dr Simmone Massaro, Bax Energy, Germany',
                    '• Dr Arul Shanmugasundram, Chief-Business Collaboration & Innovation, Tata Power',
                    '• Dr Juzer Vasi, IIT Bombay ',
                    '• Dr Varun Sivaram, Visiting Senior Fellow, Columbia University',
                    '• Prof Yutaka Tamaura, Professor, Tokyo Institute of  Technology',
                    '• Dr. K Balaraman, Director General, National Institute of Wind Energy (NIWE)',
                    '• Mr Venu Nuguri, Managing Director - India & Region Head - South Asia , Hitachi ABB Power Grids’ India ',
                    '• Dr Patrick Phelan, Professor & Assistant Dean, Arizona State University',
                '',
                'Q&A',
                'Vote of Thanks');stepUpAnalytics('click_Technical_session_twentyNine')">
                </div>
            </div>
            <div id="exhibtion_15">
                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=GreenBiz+RE-sponsible&dates=20201128T163000/20201128T180000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="eleven" (click)="showSessionPopup('thirty','#GreenBiz: RE-sponsible Corporates','The Commercial and Industrial(C&I) sector, comprising over 50% electricity consumption of the country, holds significant potential for renewable energy. Enhanced renewable energy uptake by corporates could open up a whole new market segment, while also contributing to significantly reducing the carbon intensity of India’s GDP. Many major corporates have already signed up for voluntary targets to enhance renewable energy uptake and many have aligned with initiatives such as RE100 (commitment to 100 percent renewable electricity by 2050) and Renewable Energy Demand Enhancement (REDE). 

                With declining costs and improved performance and reliability, renewables have now achieved cost parity and commercial viability in most scenarios and applications, and corporates have a strong business case for maximizing renewables in their operations. However, significant challenges persist for sourcing renewable energy specially under the Open Access route by corporates.
                
                In the above background, the session aims to capture the experience of Indian Corporates in renewable power procurement and understanding barriers and suggesting the way forward to enhance the share of renewables in India’s corporate energy sphere. The key questions to be addressed will essentially include:',
                   ' • What motivates corporations to adopt renewable energy in their operations?',
                
                    '• What are the major technical and regulatory challenges faced in pursuing RE procurement through various modes? How can these be addressed?',
                   ' • Can renewable power developers and distribution companies tailor products for increased renewable power uptake by C&I consumers?',
                
                'Discussion Points',
                    '• Corporate buyers’ perspective of RE',
                    '• Challenges faced in enhancing ambitions',
                    '• Emerging avenues for RE sourcing',
                    '• Strategies and way forward',
                
                'Opening Remarks by Moderator:   Mr Damandeep Singh, Country Head, CDP',
                '',
                'Panelists',
                
                    '• Ms Divya Sharma, Executive Director, The Climate Group India',
                    '• Mr Ganesh Srinivasan,  Chief Executive Officer, Tata Power Delhi Distribution',
                    '• Ms Ann Josey , Prayas (Energy Group)',
                    '• Mr Ashwin Gambhir, Prayas (Energy Group)',
                    '• Mr Ravi Singh, Secretary General & CEO, WWF India',
                    '• Mr Vikram Sridharan, Head of Policy- Energy & infrastructure,  Amazon',
                    '• Mr Pinaki Bhattacharya,  Chief Executive Officer, AMP Energy India',
                    '• Mr Sandeep Chandna, Chief Customer Officer and Chief Sustainability Officer, Tech Mahindra',
                    '• Mr M B Rajesh Gowda, Managing Director, BESCOM',
                
                'Q&A',
            
                'Vote of Thanks');stepUpAnalytics('click_Technical_session_thirty')">
                </div>
            </div>
            <div id="exhibtion_16">
                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=RE+Startup+Opportunities&dates=20201128T163000/20201128T180000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="twelve" (click)="showSessionPopup('thirtyone','RE-Startup: Opportunities & Challenges','India’s strategy and commitment are to transit to non-polluting renewable sources of energy to meet its future demand for electricity for consumption and for export.',' Renewable energy has the advantage of allowing decentralized distribution of energy – particularly for meeting rural energy needs, and thereby empowering people at the grass roots level.',
                '',
                'India’s plan for renewable energy is driven by the objectives of energy security, energy access and reducing the carbon footprints of the national energy systems.', 'Renewables have created new opportunities and business spaces and are contributing in the areas of livelihood, water, health and innovations in products, services and business models. ',
                
                'With this background, the scope of work for start-ups and innovators and other early-stage companies is to come up with innovative technologies and concepts that may develop sustainable businesses. ',
                
                'This session would deliberate on the opportunities, challenges faced by start-ups and other innovators entering the sector.',' It would also discuss the Govt policies, supporting ecosystem, availability of resources, training needs etc. supportive policies, Govt policies.',
                
                'Opening Remarks by Moderator: Mr. Rakesh Sarin, Founder, Nyshaasa Energ',
                '',
                'Panelist',
                '',
                    '• Mr Kunal Upadhyay, Chief Executive - Investments – Cleantech Centre for Innovation Incubation and Entrepreneurship (CIIE), Indian Institute of Management,  Ahmedabad (IIM-A)',
                    '• Mr Sanjeev Aggarwal, Founder, Managing Director &  Chief Executive Officer, Amplus Solar',
                    '• Prof V Ramagopal Rao, Director, IIT Delhi',
                    '• Ms Tanya Singhal, Founder and Director, Solar Arise',
                    '• Ms Vandana Bhatnagar, Chief Program Officer, National Skill Development Council (NSDC)',
                    '• Mr Unmesh Partiwala, Chief Operating Office, I Create',
                    '• Mr Kuldeep Jain,  Managing Director,  CleanMax Solar',
                    '• Mr. Himraj Dang, ED, Olympus Capital',
                '',
                'Q&A',
                
                'Vote of Thanks');stepUpAnalytics('click_Technical_session_thirtyOne')">
                </div>
            </div>
            <div id="exhibtion_17">
                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=Maldives+Country&dates=20201128T163000/20201128T180000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="thirteen" (click)="showSessionPopup('thirtytwo','Maldives- The Land of Sun, Sea, Sand and Sustainability','Maldives Country Address',
                '• Hon. Minister Hussain Rasheed Hassan (ME), Government of Maldives',
            
            'Opening Remarks',
                '• Hon. Minister Raj K Singh (MNRE)*, Government of India',
            
           ' Keynote Address',
                '• Mr. Guangzhe Chen, Regional Director, World Bank',
            
            'International Solar Alliance in Small Island Developing States (SIDS)',
                '• HE Upendra Tripathy (Director General, International Solar Alliance)',
            
            'Featured Presentation of the World Bank ASPIRE/ARISE Program in the Maldives', 
                '• Dr. Amit Jain, Senior Energy Specialist, World Bank',
            '',
            'SIDS Initiatives: Developing a Sustainable Solar Ecosystem. Panel Discussion on supporting energy reliability and energy access through solar in Island nations ',
             '• Mr Faris H. Hadad-Zervos, Country Director- Maldives, Nepal and Sri Lanka, World Bank (Chair of the Panel)',
                '• Minister from Tonga,',
                '  • Hon. Minister from Seychelles',
                '• Hon. Minister from Sri Lanka',
                '• Hon. Minister from Maurituis',
                '• Minister from Marshall Islands/Fiji/Tuvalu*,',
                '• Mr. Ajwad Musthafa, Permanent Secretary, ME, Government of Maldives,',
                '• Mr Chandrasekar Govindarajalu, Lead Energy Specialist, World Bank',
            '',
            'Closing Remarks:  Maldives Vision 2030',
                '• Mr. Gailius J. Draugelis, Lead Energy Specialist, World Bank');stepUpAnalytics('click_Technical_session_thirtyTwo')">
                </div>
            </div>
            <div id="exhibtion_18">
                <a style="margin-left: 20px;"
                    href="https://calendar.google.com/calendar/r/eventedit?text=Nodal+Agencies&dates=20201128T163000/20201128T180000&details"
                    data-toggle="tooltip" title="Add to calendar" target="_blank"><i class="fa fa-calendar"
                        aria-hidden="true"></i></a>
                <div class="fourteen" (click)="showSessionPopup('thirtythree','Success Stories of State Nodal Agencies','Association of Renewable Energy Agencies of States (AREAS) provides a platform to State Nodal Agencies (SNAs) to interact and learn from each other’s experiences and also share their best practices and knowledge regarding technologies and schemes/programmes. ',
                '',
                'Hon’ble Union Minister in-charge of New & Renewable Energy is the Ex-Officio Patron of the Association and Secretary, MNRE is the ex-officio President of the Association. All SNAs are the member of the Association.',
                '',
                'In this session speakers from UREDA, CREDA, PEDA, TEDA, MEDA and CREST will present innovative renewable energy schemes and programmes implemented/being implemented in their respective states/UT.',  
                '',
                'Moderator: Mr. J K Jethani, Executive Director, AREAS',
                '',
            'Panelists:',
            '',
            '• Mr Debendra Dalai, CEO CREST', 
            '• Mr Sanjeev Jain, CE, CREDA',
            '',
            '• Mr M P Singh, Jt. Director, PEDA',
            '• Mr D S Das, Jt. Director, TREDA',
            '',
            '• Mr Abhishek Pandey, SPO, UREDA',
            '• Mr Vikas Kothiyal, SPO, UREDA',
            '',
            '• Mr P V Tayade, GM, MEDA',
            'Q&A',
        '',
            'Vote of Thanks');stepUpAnalytics('click_Technical_session_thirtyThree')">
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade confirmModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="profile_section">
                            <div class="chat_section">
                                <div class="popup_header">
                                    <!-- <h6 class="text-dark"><b>SPEAKERS</b></h6> -->
                                    <h5>Technical Session</h5>
                                    <a class="close" (click)="closePopup()"></a>
                                </div>
                                <div class="row mt-4 ml-2 mr-2 mb-2" id="setPopup">
                                    <div id="popupmsg">
                                        <h4 class="text-center">{{this.getHeading}}</h4>
                                            <p  style="height: 35vh;
                                            overflow-y: auto;">{{this.getDesc}}<br>{{this.getPort}}<br>{{this.getPort2}}<br>{{this.getPort3}}<br>{{this.getPort4}}<br>{{this.getPort5}}<br>{{this.getPort6}}<br>{{this.getPort7}}<br>{{this.getPort8}}<br>{{this.getPort9}}<br>{{this.getPort10}}<br>{{this.getPort11}}<br>{{this.getPort12}}<br>{{this.getPort13}}<br>{{this.getPort14}}<br>{{this.getPort15}}<br>{{this.getPort16}}<br>{{this.getPort17}}<br>{{this.getPort18}}<br>{{this.getPort19}}<br>{{this.getPort20}}<br>{{this.getPort21}}<br>{{this.getPort22}}</p>
                                        <!-- <p>Are you Sure You want to continue session?</p> -->
                                        <div>
                                            <button class="btn" id="okbtn" (click)="navigate()">Join Now</button>
                                            <button class="btn btn-danger" (click)="closePopup()">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>